@media screen and (min-width: 80rem) {
.desktop.theme {
  --d-accent-color: auto;
  --d-color-scheme: normal;

  accent-color: var(--d-accent-color);
  color-scheme: var(--d-color-scheme)
}
.desktop.flex {
  --d-align-content: normal;
  --d-align-items: normal;
  --d-flex-direction: row;
  --d-flex-wrap: nowrap;
  --d-justify-content: normal;
  --d-justify-items: legacy;
  --d-order: 0;
  --d-flex-grow: 0;
  --d-flex-shrink: 1;
  --d-flex-basis: auto;
  --d-flex: 0 1 auto;

  align-content: var(--d-align-content);
  align-items: var(--d-align-items);
  flex-direction: var(--d-flex-direction);
  flex-wrap: var(--d-flex-wrap);
  justify-content: var(--d-justify-content);
  justify-items: var(--d-justify-items);
  order: var(--d-order);
  flex: var(--d-flex, var(--d-flex-shrink) var(--d-flex-basis))
}
.desktop.individual {
  --d-align-self: auto;
  --d-justify-self: auto;

  align-self: var(--d-align-self);
  justify-self: var(--d-justify-self)
}
.desktop.appearance {
  --d-appearance: none;

  appearance: var(--d-appearance)
}
.desktop.box {
  --d-aspect-ratio: auto;
  --d-block-size: auto;
  --d-box-sizing: content-box;
  --d-inline-size: auto;
  --d-zoom: auto;

  aspect-ratio: var(--d-aspect-ratio);
  block-size: var(--d-block-size);
  box-sizing: var(--d-box-sizing);
  inline-size: var(--d-inline-size);
  zoom: var(--d-zoom)
}
.desktop.visual-effect {
  --d-backdrop-filter: none;
  --d-filter: none;
  --d-isolation: auto;
  --d-mix-blend-mode: normal;
  --d-opacity: 1;

  backdrop-filter: var(--d-backdrop-filter);
  filter: var(--d-filter);
  isolation: var(--d-isolation);
  mix-blend-mode: var(--d-mix-blend-mode);
  opacity: var(--d-opacity)
}
.desktop.transform {
  --d-backface-visibility: visible;
  --d-perspective: none;
  --d-perspective-origin: 50% 50%;
  --d-rotate: none;
  --d-scale: 1;
  --d-transform: none;
  --d-transform-box: border-box;
  --d-transform-origin: 50% 50% 0;
  --d-transform-style: flat;
  --d-translate: none;

  backface-visibility: var(--d-backface-visibility);
  perspective: var(--d-perspective);
  perspective-origin: var(--d-perspective-origin);
  rotate: var(--d-rotate);
  scale: var(--d-scale);
  transform: var(--d-transform);
  transform-box: var(--d-transform-box);
  transform-origin: var(--d-transform-origin);
  transform-style: var(--d-transform-style);
  translate: var(--d-translate)
}
.desktop.border-collapse {
  --d-border-collapse: separate;

  border-collapse: var(--d-border-collapse)
}
.desktop.position {
  --d-bottom: auto;
  --d-left: auto;
  --d-position: static;
  --d-right: auto;
  --d-top: auto;
  --d-z-index: auto;

  bottom: var(--d-bottom);
  left: var(--d-left);
  position: var(--d-position);
  right: var(--d-right);
  top: var(--d-top);
  z-index: var(--d-z-index)
}
.desktop.shadow {
  --d-box-shadow: none;

  box-shadow: var(--d-box-shadow)
}
.desktop.content-flow {
  --d-break-after: auto;
  --d-break-before: auto;
  --d-break-inside: auto;
  --d-clear: none;
  --d-direction: ltr;
  --d-float: none;
  --d-overflow-wrap: normal;

  break-after: var(--d-break-after);
  break-before: var(--d-break-before);
  break-inside: var(--d-break-inside);
  clear: var(--d-clear);
  direction: var(--d-direction);
  float: var(--d-float);
  overflow-wrap: var(--d-overflow-wrap)
}
.desktop.caption {
  --d-caption-side: top;

  caption-side: var(--d-caption-side)
}
.desktop.interaction {
  --d-caret-color: auto;
  --d-pointer-events: auto;
  --d-resize: none;
  --d-scroll-behavior: auto;
  --d-touch-action: auto;
  --d-user-select: auto;

  caret-color: var(--d-caret-color);
  pointer-events: var(--d-pointer-events);
  resize: var(--d-resize);
  scroll-behavior: var(--d-scroll-behavior);
  touch-action: var(--d-touch-action);
  user-select: var(--d-user-select)
}
.desktop.masking {
  --d-clip: auto;
  --d-clip-path: none;
  --d-clip-rule: nonzero;
  --d-mask-composite: add;
  --d-mask-type: luminance;

  clip: var(--d-clip);
  clip-path: var(--d-clip-path);
  clip-rule: var(--d-clip-rule);
  mask-composite: var(--d-mask-composite);
  mask-type: var(--d-mask-type)
}
.desktop.text {
  --d-color: currentcolor;
  --d-color-interpolation: srgb;
  --d-color-interpolation-filters: linearrgb;
  --d-hyphenate-character: auto;
  --d-hyphens: manual;
  --d-line-break: auto;
  --d-quotes: auto;
  --d-vertical-align: baseline;
  --d-white-space-collapse: preserve;
  --d-writing-mode: horizontal-tb;
  --d-text-align: start;
  --d-text-align-last: auto;
  --d-text-anchor: start;
  --d-text-combine-upright: none;
  --d-text-indent: 0;
  --d-text-orientation: mixed;
  --d-text-overflow: clip;
  --d-text-rendering: auto;
  --d-text-shadow: none;
  --d-text-transform: none;

  color: var(--d-color);
  color-interpolation: var(--d-color-interpolation);
  color-interpolation-filters: var(--d-color-interpolation-filters);
  hyphenate-character: var(--d-hyphenate-character);
  hyphens: var(--d-hyphens);
  line-break: var(--d-line-break);
  quotes: var(--d-quotes);
  vertical-align: var(--d-vertical-align);
  white-space-collapse: var(--d-white-space-collapse);
  writing-mode: var(--d-writing-mode);
  text-align: var(--d-text-align);
  text-align-last: var(--d-text-align-last);
  text-anchor: var(--d-text-anchor);
  text-combine-upright: var(--d-text-combine-upright);
  text-indent: var(--d-text-indent);
  text-orientation: var(--d-text-orientation);
  text-overflow: var(--d-text-overflow);
  text-rendering: var(--d-text-rendering);
  text-shadow: var(--d-text-shadow);
  text-transform: var(--d-text-transform)
}
.desktop.contain {
  --d-contain: none;
  --d-contain-intrinsic-block-size: auto;
  --d-contain-intrinsic-height: auto;
  --d-contain-intrinsic-inline-size: auto;
  --d-contain-intrinsic-width: auto;

  contain: var(--d-contain);
  contain-intrinsic-block-size: var(--d-contain-intrinsic-block-size);
  contain-intrinsic-height: var(--d-contain-intrinsic-height);
  contain-intrinsic-inline-size: var(--d-contain-intrinsic-inline-size);
  contain-intrinsic-width: var(--d-contain-intrinsic-width)
}
.desktop.container {
  --d-container-name: none;
  --d-container-type: none;

  container-name: var(--d-container-name);
  container-type: var(--d-container-type)
}
.desktop.content {
  --d-content: normal;
  --d-content-visibility: visible;

  content: var(--d-content);
  content-visibility: var(--d-content-visibility)
}
.desktop.list {
  --d-counter-increment: none;
  --d-counter-reset: none;
  --d-counter-set: none;
  --d-list-style-image: none;
  --d-list-style-position: outside;
  --d-list-style-type: disc;

  counter-increment: var(--d-counter-increment);
  counter-reset: var(--d-counter-reset);
  counter-set: var(--d-counter-set);
  list-style-image: var(--d-list-style-image);
  list-style-position: var(--d-list-style-position);
  list-style-type: var(--d-list-style-type)
}
.desktop.cursor {
  --d-cursor: auto;

  cursor: var(--d-cursor)
}
.desktop.display {
  --d-display: inline;

  display: var(--d-display)
}
.desktop.svg {
  --d-dominant-baseline: auto;
  --d-fill: black;
  --d-fill-opacity: 1;
  --d-fill-rule: nonzero;
  --d-flood-color: black;
  --d-flood-opacity: 1;
  --d-lighting-color: white;
  --d-paint-order: normal;
  --d-stop-color: black;
  --d-stop-opacity: 1;
  --d-stroke: none;
  --d-stroke-dasharray: none;
  --d-stroke-dashoffset: 0;
  --d-stroke-linecap: butt;
  --d-stroke-linejoin: miter;
  --d-stroke-miterlimit: 4;
  --d-stroke-opacity: 1;
  --d-stroke-width: 1;
  --d-vector-effect: none;

  dominant-baseline: var(--d-dominant-baseline);
  fill: var(--d-fill);
  fill-opacity: var(--d-fill-opacity);
  fill-rule: var(--d-fill-rule);
  flood-color: var(--d-flood-color);
  flood-opacity: var(--d-flood-opacity);
  lighting-color: var(--d-lighting-color);
  paint-order: var(--d-paint-order);
  stop-color: var(--d-stop-color);
  stop-opacity: var(--d-stop-opacity);
  stroke: var(--d-stroke);
  stroke-dasharray: var(--d-stroke-dasharray);
  stroke-dashoffset: var(--d-stroke-dashoffset);
  stroke-linecap: var(--d-stroke-linecap);
  stroke-linejoin: var(--d-stroke-linejoin);
  stroke-miterlimit: var(--d-stroke-miterlimit);
  stroke-opacity: var(--d-stroke-opacity);
  stroke-width: var(--d-stroke-width);
  vector-effect: var(--d-vector-effect)
}
.desktop.table {
  --d-empty-cells: show;
  --d-table-layout: auto;

  empty-cells: var(--d-empty-cells);
  table-layout: var(--d-table-layout)
}
.desktop.typography {
  --d-font-feature-settings: normal;
  --d-font-kerning: auto;
  --d-font-optical-sizing: auto;
  --d-font-palette: normal;
  --d-font-size-adjust: none;
  --d-font-variant-alternates: normal;
  --d-font-variation-settings: normal;
  --d-letter-spacing: normal;
  --d-line-height: normal;
  --d-tab-size: 8;

  font-feature-settings: var(--d-font-feature-settings);
  font-kerning: var(--d-font-kerning);
  font-optical-sizing: var(--d-font-optical-sizing);
  font-palette: var(--d-font-palette);
  font-size-adjust: var(--d-font-size-adjust);
  font-variant-alternates: var(--d-font-variant-alternates);
  font-variation-settings: var(--d-font-variation-settings);
  letter-spacing: var(--d-letter-spacing);
  line-height: var(--d-line-height);
  tab-size: var(--d-tab-size)
}
.desktop.height {
  --d-height: auto;
  --d-min-height: auto;
  --d-max-height: none;

  height: var(--d-height);
  min-height: var(--d-min-height);
  max-height: var(--d-max-height)
}
.desktop.image {
  --d-image-orientation: from-image;
  --d-image-rendering: auto;

  image-orientation: var(--d-image-orientation);
  image-rendering: var(--d-image-rendering)
}
.desktop.inset {
  --d-inset: auto;

  inset: var(--d-inset)
}
.desktop.math {
  --d-math-style: normal;

  math-style: var(--d-math-style)
}
.desktop.outline {
  --d-outline-offset: 0;
  --d-outline-width: medium;
  --d-outline-style: none;
  --d-outline-color: invert;
  --d-outline: invert;

  outline-offset: var(--d-outline-offset);
  outline: var(--d-outline, var(--d-outline-style) var(--d-outline-color))
}
.desktop.media {
  --d-size: auto;

  size: var(--d-size)
}
.desktop.transition {
  --d-transition-behavior: auto;
  --d-transition-property: all;
  --d-transition-duration: 0s;
  --d-transition-timing-function: ease;
  --d-transition-delay: 0s;
  --d-transition: all 0s ease 0s;

  transition-behavior: var(--d-transition-behavior);
  transition: var(--d-transition, var(--d-transition-duration) var(--d-transition-timing-function) var(--d-transition-delay))
}
.desktop.unicode {
  --d-unicode-bidi: normal;

  unicode-bidi: var(--d-unicode-bidi)
}
.desktop.visibility {
  --d-visibility: visible;

  visibility: var(--d-visibility)
}
.desktop.width {
  --d-width: auto;
  --d-min-width: auto;
  --d-max-width: none;

  width: var(--d-width);
  min-width: var(--d-min-width);
  max-width: var(--d-max-width)
}
.desktop.optimization {
  --d-will-change: auto;

  will-change: var(--d-will-change)
}
.desktop.animation {
  --d-animation-name: none;
  --d-animation-duration: 0s;
  --d-animation-timing-function: ease;
  --d-animation-delay: 0s;
  --d-animation-iteration-count: 1;
  --d-animation-direction: normal;
  --d-animation-fill-mode: none;
  --d-animation-play-state: running;
  --d-animation-composition: replace;
  --d-animation: none;

  animation: var(--d-animation, var(--d-animation-duration) var(--d-animation-timing-function) var(--d-animation-delay) var(--d-animation-iteration-count) var(--d-animation-direction) var(--d-animation-fill-mode) var(--d-animation-play-state) var(--d-animation-composition))
}
.desktop.background {
  --d-background-color: transparent;
  --d-background-image: none;
  --d-background-position-x: 0;
  --d-background-position-y: 0;
  --d-background-size: auto;
  --d-background-repeat: repeat;
  --d-background-attachment: scroll;
  --d-background-origin: padding-box;
  --d-background-clip: border-box;
  --d-background-blend-mode: normal;
  --d-background: transparent;

  background: var(--d-background, var(--d-background-image) var(--d-background-position-x) var(--d-background-position-y) var(--d-background-size) var(--d-background-repeat) var(--d-background-attachment) var(--d-background-origin) var(--d-background-clip) var(--d-background-blend-mode))
}
.desktop.border-image {
  --d-border-image-source: none;
  --d-border-image-slice: 100%;
  --d-border-image-width: 1;
  --d-border-image-outset: 0;
  --d-border-image-repeat: stretch;
  --d-borderImage: initial;

  border-image: var(--d-border-image, var(--d-border-image-slice) var(--d-border-image-width) var(--d-border-image-outset) var(--d-border-image-repeat))
}
.desktop.border-block-start {
  --d-border-block-start-start-width: initial;
  --d-border-block-start-start-style: initial;
  --d-border-block-start-start-color: initial;
  --d-borderBlockStart: initial;

  border-block-start: var(--d-border-block-start, var(--d-border-block-start-start-style) var(--d-border-block-start-start-color))
}
.desktop.border-block-end {
  --d-border-block-end-end-width: initial;
  --d-border-block-end-end-style: initial;
  --d-border-block-end-end-color: initial;
  --d-borderBlockEnd: initial;

  border-block-end: var(--d-border-block-end, var(--d-border-block-end-end-style) var(--d-border-block-end-end-color))
}
.desktop.border-inline-start {
  --d-border-inline-start-start-width: initial;
  --d-border-inline-start-start-style: initial;
  --d-border-inline-start-start-color: initial;
  --d-borderInlineStart: initial;

  border-inline-start: var(--d-border-inline-start, var(--d-border-inline-start-start-style) var(--d-border-inline-start-start-color))
}
.desktop.border-inline-end {
  --d-border-inline-end-end-width: initial;
  --d-border-inline-end-end-style: initial;
  --d-border-inline-end-end-color: initial;
  --d-borderInlineEnd: initial;

  border-inline-end: var(--d-border-inline-end, var(--d-border-inline-end-end-style) var(--d-border-inline-end-end-color))
}
.desktop.border-top {
  --d-border-top-width: medium;
  --d-border-top-style: none;
  --d-border-top-color: currentcolor;
  --d-borderTop: initial;
  --d-border-top-left-radius: 0;
  --d-border-top-right-radius: 0;

  border-top: var(--d-border-top, var(--d-border-top-style) var(--d-border-top-color));
  border-top-left-radius: var(--d-border-top-left-radius);
  border-top-right-radius: var(--d-border-top-right-radius)
}
.desktop.border-right {
  --d-border-right-width: medium;
  --d-border-right-style: none;
  --d-border-right-color: currentcolor;
  --d-borderRight: initial;

  border-right: var(--d-border-right, var(--d-border-right-style) var(--d-border-right-color))
}
.desktop.border-bottom {
  --d-border-bottom-width: medium;
  --d-border-bottom-style: none;
  --d-border-bottom-color: currentcolor;
  --d-borderBottom: initial;
  --d-border-bottom-left-radius: 0;
  --d-border-bottom-right-radius: 0;

  border-bottom: var(--d-border-bottom, var(--d-border-bottom-style) var(--d-border-bottom-color));
  border-bottom-left-radius: var(--d-border-bottom-left-radius);
  border-bottom-right-radius: var(--d-border-bottom-right-radius)
}
.desktop.border-left {
  --d-border-left-width: medium;
  --d-border-left-style: none;
  --d-border-left-color: currentcolor;
  --d-borderLeft: initial;

  border-left: var(--d-border-left, var(--d-border-left-style) var(--d-border-left-color))
}
.desktop.border-start {
  --d-border-start-end-radius: 0;
  --d-border-start-start-radius: 0;

  border-start-end-radius: var(--d-border-start-end-radius);
  border-start-start-radius: var(--d-border-start-start-radius)
}
.desktop.border-end {
  --d-border-end-end-radius: 0;
  --d-border-end-start-radius: 0;

  border-end-end-radius: var(--d-border-end-end-radius);
  border-end-start-radius: var(--d-border-end-start-radius)
}
.desktop.border {
  --d-border-width: initial;
  --d-border-style: initial;
  --d-border-color: initial;
  --d-border: medium none currentcolor;

  border: var(--d-border, var(--d-border-style) var(--d-border-color))
}
.desktop.column {
  --d-column-count: auto;
  --d-column-fill: balance;
  --d-column-rule-color: currentcolor;
  --d-column-rule-style: none;
  --d-column-rule-width: medium;
  --d-column-span: none;
  --d-column-width: auto;

  column-count: var(--d-column-count);
  column-fill: var(--d-column-fill);
  column-rule-color: var(--d-column-rule-color);
  column-rule-style: var(--d-column-rule-style);
  column-rule-width: var(--d-column-rule-width);
  column-span: var(--d-column-span);
  column-width: var(--d-column-width)
}
.desktop.padding {
  --d-padding-top: 0;
  --d-padding-right: 0;
  --d-padding-bottom: 0;
  --d-padding-left: 0;
  --d-padding: 0;

  padding: var(--d-padding, var(--d-padding-right) var(--d-padding-bottom) var(--d-padding-left))
}
.desktop.padding-block {
  --d-padding-block-start: 0;
  --d-padding-block-end: 0;
  --d-paddingBlock: initial;

  padding-block: var(--d-padding-block, var(--d-padding-block-end))
}
.desktop.padding-inline {
  --d-padding-inline-start: 0;
  --d-padding-inline-end: 0;
  --d-paddingInline: initial;

  padding-inline: var(--d-padding-inline, var(--d-padding-inline-end))
}
.desktop.font {
  --d-font-style: normal;
  --d-font-variant: initial;
  --d-font-weight: 400;
  --d-font-stretch: normal;
  --d-font-size: 16;
  --d-font-line-height: initial;
  --d-font-family: serif;
  --d-font: 1rem sans-serif;

  font: var(--d-font, var(--d-font-variant) var(--d-font-weight) var(--d-font-stretch) var(--d-font-size) var(--d-font-line-height) var(--d-font-family))
}
.desktop.font-synthesis {
  --d-font-synthesis-weight: auto;
  --d-font-synthesis-style: auto;
  --d-font-synthesis-small-caps: auto;

  font-synthesis-weight: var(--d-font-synthesis-weight);
  font-synthesis-style: var(--d-font-synthesis-style);
  font-synthesis-small-caps: var(--d-font-synthesis-small-caps)
}
.desktop.gap {
  --d-row-gap: normal;
  --d-column-gap: normal;
  --d-gap: normal;

  gap: var(--d-gap, var(--d-column-gap))
}
.desktop.grid {
  --d-grid-auto-columns: auto;
  --d-grid-auto-flow: row;
  --d-grid-auto-rows: auto;
  --d-grid-column-start: auto;
  --d-grid-column-end: auto;
  --d-grid-row-start: auto;
  --d-grid-row-end: auto;
  --d-grid-template-areas: none;
  --d-grid-template-columns: none;
  --d-grid-template-rows: none;

  grid-auto-columns: var(--d-grid-auto-columns);
  grid-auto-flow: var(--d-grid-auto-flow);
  grid-auto-rows: var(--d-grid-auto-rows);
  grid-column-start: var(--d-grid-column-start);
  grid-column-end: var(--d-grid-column-end);
  grid-row-start: var(--d-grid-row-start);
  grid-row-end: var(--d-grid-row-end);
  grid-template-areas: var(--d-grid-template-areas);
  grid-template-columns: var(--d-grid-template-columns);
  grid-template-rows: var(--d-grid-template-rows)
}
.desktop.inset-block {
  --d-inset-block-start: auto;
  --d-inset-block-end: auto;
  --d-insetBlock: initial;

  inset-block: var(--d-inset-block, var(--d-inset-block-end))
}
.desktop.inset-inline {
  --d-inset-inline-start: auto;
  --d-inset-inline-end: auto;
  --d-insetInline: initial;

  inset-inline: var(--d-inset-inline, var(--d-inset-inline-end))
}
.desktop.margin {
  --d-margin-top: 0;
  --d-margin-right: 0;
  --d-margin-bottom: 0;
  --d-margin-left: 0;
  --d-margin: 0;

  margin: var(--d-margin, var(--d-margin-right) var(--d-margin-bottom) var(--d-margin-left))
}
.desktop.margin-block {
  --d-margin-block-start: 0;
  --d-margin-block-end: 0;
  --d-marginBlock: initial;

  margin-block: var(--d-margin-block, var(--d-margin-block-end))
}
.desktop.margin-inline {
  --d-margin-inline-start: 0;
  --d-margin-inline-end: 0;
  --d-marginInline: initial;

  margin-inline: var(--d-margin-inline, var(--d-margin-inline-end))
}
.desktop.marker {
  --d-marker-end: none;
  --d-marker-mid: none;
  --d-marker-start: none;

  marker-end: var(--d-marker-end);
  marker-mid: var(--d-marker-mid);
  marker-start: var(--d-marker-start)
}
.desktop.mask {
  --d-mask-image: none;
  --d-mask-position-x: initial;
  --d-mask-position-y: initial;
  --d-mask-size: auto;
  --d-mask-repeat: no-repeat;
  --d-mask-origin: border-box;
  --d-mask-clip: border-box;
  --d-mask-mode: match-source;
  --d-mask: none;

  mask: var(--d-mask, var(--d-mask-position-x) var(--d-mask-position-y) var(--d-mask-size) var(--d-mask-repeat) var(--d-mask-origin) var(--d-mask-clip) var(--d-mask-mode))
}
.desktop.max {
  --d-max-block-size: none;
  --d-max-inline-size: none;

  max-block-size: var(--d-max-block-size);
  max-inline-size: var(--d-max-inline-size)
}
.desktop.min {
  --d-min-block-size: auto;
  --d-min-inline-size: auto;

  min-block-size: var(--d-min-block-size);
  min-inline-size: var(--d-min-inline-size)
}
.desktop.object {
  --d-object-fit: fill;
  --d-object-position: 50% 50%;

  object-fit: var(--d-object-fit);
  object-position: var(--d-object-position)
}
.desktop.offset {
  --d-offset-anchor: auto;
  --d-offset-distance: 0;
  --d-offset-path: none;
  --d-offset-position: auto;
  --d-offset-rotate: auto;

  offset-anchor: var(--d-offset-anchor);
  offset-distance: var(--d-offset-distance);
  offset-path: var(--d-offset-path);
  offset-position: var(--d-offset-position);
  offset-rotate: var(--d-offset-rotate)
}
.desktop.overflow {
  --d-overflow-x: visible;
  --d-overflow-y: visible;
  --d-overflow: visible;

  overflow: var(--d-overflow, var(--d-overflow-y))
}
.desktop.overscroll-behavior {
  --d-overscroll-behavior-block: auto;
  --d-overscroll-behavior-inline: auto;
  --d-overscroll-behavior-x: auto;
  --d-overscroll-behavior-y: auto;

  overscroll-behavior-block: var(--d-overscroll-behavior-block);
  overscroll-behavior-inline: var(--d-overscroll-behavior-inline);
  overscroll-behavior-x: var(--d-overscroll-behavior-x);
  overscroll-behavior-y: var(--d-overscroll-behavior-y)
}
.desktop.page-break {
  --d-page-break-after: auto;
  --d-page-break-before: auto;
  --d-page-break-inside: auto;

  page-break-after: var(--d-page-break-after);
  page-break-before: var(--d-page-break-before);
  page-break-inside: var(--d-page-break-inside)
}
.desktop.place {
  --d-place-items: normal;
  --d-place-content: normal;
  --d-place-self: auto;

  place-items: var(--d-place-items);
  place-content: var(--d-place-content);
  place-self: var(--d-place-self)
}
.desktop.ruby {
  --d-ruby-align: space-around;
  --d-ruby-position: over;

  ruby-align: var(--d-ruby-align);
  ruby-position: var(--d-ruby-position)
}
.desktop.scroll-margin {
  --d-scroll-margin-top: 0;
  --d-scroll-margin-right: 0;
  --d-scroll-margin-bottom: 0;
  --d-scroll-margin-left: 0;
  --d-scrollMargin: 0;

  scroll-margin: var(--d-scroll-margin, var(--d-scroll-margin-right) var(--d-scroll-margin-bottom) var(--d-scroll-margin-left))
}
.desktop.scroll-margin-block {
  --d-scroll-margin-block-start: 0;
  --d-scroll-margin-block-end: 0;
  --d-scrollMarginBlock: initial;

  scroll-margin-block: var(--d-scroll-margin-block, var(--d-scroll-margin-block-end))
}
.desktop.scroll-margin-inline {
  --d-scroll-margin-inline-start: 0;
  --d-scroll-margin-inline-end: 0;
  --d-scrollMarginInline: initial;

  scroll-margin-inline: var(--d-scroll-margin-inline, var(--d-scroll-margin-inline-end))
}
.desktop.scroll-padding {
  --d-scroll-padding-top: 0;
  --d-scroll-padding-right: 0;
  --d-scroll-padding-bottom: 0;
  --d-scroll-padding-left: 0;
  --d-scrollPadding: 0;

  scroll-padding: var(--d-scroll-padding, var(--d-scroll-padding-right) var(--d-scroll-padding-bottom) var(--d-scroll-padding-left))
}
.desktop.scroll-padding-block {
  --d-scroll-padding-block-start: 0;
  --d-scroll-padding-block-end: 0;

  scroll-padding-block-start: var(--d-scroll-padding-block-start);
  scroll-padding-block-end: var(--d-scroll-padding-block-end)
}
.desktop.scroll-padding-inline {
  --d-scroll-padding-inline-start: 0;
  --d-scroll-padding-inline-end: 0;

  scroll-padding-inline-start: var(--d-scroll-padding-inline-start);
  scroll-padding-inline-end: var(--d-scroll-padding-inline-end)
}
.desktop.scroll-snap {
  --d-scroll-snap-align: none;
  --d-scroll-snap-stop: normal;
  --d-scroll-snap-type: none;

  scroll-snap-align: var(--d-scroll-snap-align);
  scroll-snap-stop: var(--d-scroll-snap-stop);
  scroll-snap-type: var(--d-scroll-snap-type)
}
.desktop.scrollbar {
  --d-scrollbar-gutter: auto;
  --d-scrollbar-width: auto;

  scrollbar-gutter: var(--d-scrollbar-gutter);
  scrollbar-width: var(--d-scrollbar-width)
}
.desktop.shape {
  --d-shape-image-threshold: 0;
  --d-shape-margin: 0;
  --d-shape-outside: none;
  --d-shape-rendering: auto;

  shape-image-threshold: var(--d-shape-image-threshold);
  shape-margin: var(--d-shape-margin);
  shape-outside: var(--d-shape-outside);
  shape-rendering: var(--d-shape-rendering)
}
.desktop.text-decoration {
  --d-text-decoration-color: currentcolor;
  --d-text-decoration-line: none;
  --d-text-decoration-skip-ink: auto;
  --d-text-decoration-style: solid;
  --d-text-decoration-thickness: auto;

  text-decoration-color: var(--d-text-decoration-color);
  text-decoration-line: var(--d-text-decoration-line);
  text-decoration-skip-ink: var(--d-text-decoration-skip-ink);
  text-decoration-style: var(--d-text-decoration-style);
  text-decoration-thickness: var(--d-text-decoration-thickness)
}
.desktop.text-emphasis {
  --d-text-emphasis-color: currentcolor;
  --d-text-emphasis-position: over right;
  --d-text-emphasis-style: none;

  text-emphasis-color: var(--d-text-emphasis-color);
  text-emphasis-position: var(--d-text-emphasis-position);
  text-emphasis-style: var(--d-text-emphasis-style)
}
.desktop.text-underline {
  --d-text-underline-offset: auto;
  --d-text-underline-position: auto;

  text-underline-offset: var(--d-text-underline-offset);
  text-underline-position: var(--d-text-underline-position)
}
.desktop.text-wrap {
  --d-text-wrap-mode: normal;
  --d-text-wrap-style: normal;

  text-wrap-mode: var(--d-text-wrap-mode);
  text-wrap-style: var(--d-text-wrap-style)
}
.desktop.word {
  --d-word-break: normal;
  --d-word-spacing: 0;

  word-break: var(--d-word-break);
  word-spacing: var(--d-word-spacing)
}
}