@media screen and (min-width: 48rem) {
.tablet.theme {
  --t-accent-color: auto;
  --t-color-scheme: normal;

  accent-color: var(--t-accent-color);
  color-scheme: var(--t-color-scheme)
}
.tablet.flex {
  --t-align-content: normal;
  --t-align-items: normal;
  --t-flex-direction: row;
  --t-flex-wrap: nowrap;
  --t-justify-content: normal;
  --t-justify-items: legacy;
  --t-order: 0;
  --t-flex-grow: 0;
  --t-flex-shrink: 1;
  --t-flex-basis: auto;
  --t-flex: 0 1 auto;

  align-content: var(--t-align-content);
  align-items: var(--t-align-items);
  flex-direction: var(--t-flex-direction);
  flex-wrap: var(--t-flex-wrap);
  justify-content: var(--t-justify-content);
  justify-items: var(--t-justify-items);
  order: var(--t-order);
  flex: var(--t-flex, var(--t-flex-shrink) var(--t-flex-basis))
}
.tablet.individual {
  --t-align-self: auto;
  --t-justify-self: auto;

  align-self: var(--t-align-self);
  justify-self: var(--t-justify-self)
}
.tablet.appearance {
  --t-appearance: none;

  appearance: var(--t-appearance)
}
.tablet.box {
  --t-aspect-ratio: auto;
  --t-block-size: auto;
  --t-box-sizing: content-box;
  --t-inline-size: auto;
  --t-zoom: auto;

  aspect-ratio: var(--t-aspect-ratio);
  block-size: var(--t-block-size);
  box-sizing: var(--t-box-sizing);
  inline-size: var(--t-inline-size);
  zoom: var(--t-zoom)
}
.tablet.visual-effect {
  --t-backdrop-filter: none;
  --t-filter: none;
  --t-isolation: auto;
  --t-mix-blend-mode: normal;
  --t-opacity: 1;

  backdrop-filter: var(--t-backdrop-filter);
  filter: var(--t-filter);
  isolation: var(--t-isolation);
  mix-blend-mode: var(--t-mix-blend-mode);
  opacity: var(--t-opacity)
}
.tablet.transform {
  --t-backface-visibility: visible;
  --t-perspective: none;
  --t-perspective-origin: 50% 50%;
  --t-rotate: none;
  --t-scale: 1;
  --t-transform: none;
  --t-transform-box: border-box;
  --t-transform-origin: 50% 50% 0;
  --t-transform-style: flat;
  --t-translate: none;

  backface-visibility: var(--t-backface-visibility);
  perspective: var(--t-perspective);
  perspective-origin: var(--t-perspective-origin);
  rotate: var(--t-rotate);
  scale: var(--t-scale);
  transform: var(--t-transform);
  transform-box: var(--t-transform-box);
  transform-origin: var(--t-transform-origin);
  transform-style: var(--t-transform-style);
  translate: var(--t-translate)
}
.tablet.border-collapse {
  --t-border-collapse: separate;

  border-collapse: var(--t-border-collapse)
}
.tablet.position {
  --t-bottom: auto;
  --t-left: auto;
  --t-position: static;
  --t-right: auto;
  --t-top: auto;
  --t-z-index: auto;

  bottom: var(--t-bottom);
  left: var(--t-left);
  position: var(--t-position);
  right: var(--t-right);
  top: var(--t-top);
  z-index: var(--t-z-index)
}
.tablet.shadow {
  --t-box-shadow: none;

  box-shadow: var(--t-box-shadow)
}
.tablet.content-flow {
  --t-break-after: auto;
  --t-break-before: auto;
  --t-break-inside: auto;
  --t-clear: none;
  --t-direction: ltr;
  --t-float: none;
  --t-overflow-wrap: normal;

  break-after: var(--t-break-after);
  break-before: var(--t-break-before);
  break-inside: var(--t-break-inside);
  clear: var(--t-clear);
  direction: var(--t-direction);
  float: var(--t-float);
  overflow-wrap: var(--t-overflow-wrap)
}
.tablet.caption {
  --t-caption-side: top;

  caption-side: var(--t-caption-side)
}
.tablet.interaction {
  --t-caret-color: auto;
  --t-pointer-events: auto;
  --t-resize: none;
  --t-scroll-behavior: auto;
  --t-touch-action: auto;
  --t-user-select: auto;

  caret-color: var(--t-caret-color);
  pointer-events: var(--t-pointer-events);
  resize: var(--t-resize);
  scroll-behavior: var(--t-scroll-behavior);
  touch-action: var(--t-touch-action);
  user-select: var(--t-user-select)
}
.tablet.masking {
  --t-clip: auto;
  --t-clip-path: none;
  --t-clip-rule: nonzero;
  --t-mask-composite: add;
  --t-mask-type: luminance;

  clip: var(--t-clip);
  clip-path: var(--t-clip-path);
  clip-rule: var(--t-clip-rule);
  mask-composite: var(--t-mask-composite);
  mask-type: var(--t-mask-type)
}
.tablet.text {
  --t-color: currentcolor;
  --t-color-interpolation: srgb;
  --t-color-interpolation-filters: linearrgb;
  --t-hyphenate-character: auto;
  --t-hyphens: manual;
  --t-line-break: auto;
  --t-quotes: auto;
  --t-vertical-align: baseline;
  --t-white-space-collapse: preserve;
  --t-writing-mode: horizontal-tb;
  --t-text-align: start;
  --t-text-align-last: auto;
  --t-text-anchor: start;
  --t-text-combine-upright: none;
  --t-text-indent: 0;
  --t-text-orientation: mixed;
  --t-text-overflow: clip;
  --t-text-rendering: auto;
  --t-text-shadow: none;
  --t-text-transform: none;

  color: var(--t-color);
  color-interpolation: var(--t-color-interpolation);
  color-interpolation-filters: var(--t-color-interpolation-filters);
  hyphenate-character: var(--t-hyphenate-character);
  hyphens: var(--t-hyphens);
  line-break: var(--t-line-break);
  quotes: var(--t-quotes);
  vertical-align: var(--t-vertical-align);
  white-space-collapse: var(--t-white-space-collapse);
  writing-mode: var(--t-writing-mode);
  text-align: var(--t-text-align);
  text-align-last: var(--t-text-align-last);
  text-anchor: var(--t-text-anchor);
  text-combine-upright: var(--t-text-combine-upright);
  text-indent: var(--t-text-indent);
  text-orientation: var(--t-text-orientation);
  text-overflow: var(--t-text-overflow);
  text-rendering: var(--t-text-rendering);
  text-shadow: var(--t-text-shadow);
  text-transform: var(--t-text-transform)
}
.tablet.contain {
  --t-contain: none;
  --t-contain-intrinsic-block-size: auto;
  --t-contain-intrinsic-height: auto;
  --t-contain-intrinsic-inline-size: auto;
  --t-contain-intrinsic-width: auto;

  contain: var(--t-contain);
  contain-intrinsic-block-size: var(--t-contain-intrinsic-block-size);
  contain-intrinsic-height: var(--t-contain-intrinsic-height);
  contain-intrinsic-inline-size: var(--t-contain-intrinsic-inline-size);
  contain-intrinsic-width: var(--t-contain-intrinsic-width)
}
.tablet.container {
  --t-container-name: none;
  --t-container-type: none;

  container-name: var(--t-container-name);
  container-type: var(--t-container-type)
}
.tablet.content {
  --t-content: normal;
  --t-content-visibility: visible;

  content: var(--t-content);
  content-visibility: var(--t-content-visibility)
}
.tablet.list {
  --t-counter-increment: none;
  --t-counter-reset: none;
  --t-counter-set: none;
  --t-list-style-image: none;
  --t-list-style-position: outside;
  --t-list-style-type: disc;

  counter-increment: var(--t-counter-increment);
  counter-reset: var(--t-counter-reset);
  counter-set: var(--t-counter-set);
  list-style-image: var(--t-list-style-image);
  list-style-position: var(--t-list-style-position);
  list-style-type: var(--t-list-style-type)
}
.tablet.cursor {
  --t-cursor: auto;

  cursor: var(--t-cursor)
}
.tablet.display {
  --t-display: inline;

  display: var(--t-display)
}
.tablet.svg {
  --t-dominant-baseline: auto;
  --t-fill: black;
  --t-fill-opacity: 1;
  --t-fill-rule: nonzero;
  --t-flood-color: black;
  --t-flood-opacity: 1;
  --t-lighting-color: white;
  --t-paint-order: normal;
  --t-stop-color: black;
  --t-stop-opacity: 1;
  --t-stroke: none;
  --t-stroke-dasharray: none;
  --t-stroke-dashoffset: 0;
  --t-stroke-linecap: butt;
  --t-stroke-linejoin: miter;
  --t-stroke-miterlimit: 4;
  --t-stroke-opacity: 1;
  --t-stroke-width: 1;
  --t-vector-effect: none;

  dominant-baseline: var(--t-dominant-baseline);
  fill: var(--t-fill);
  fill-opacity: var(--t-fill-opacity);
  fill-rule: var(--t-fill-rule);
  flood-color: var(--t-flood-color);
  flood-opacity: var(--t-flood-opacity);
  lighting-color: var(--t-lighting-color);
  paint-order: var(--t-paint-order);
  stop-color: var(--t-stop-color);
  stop-opacity: var(--t-stop-opacity);
  stroke: var(--t-stroke);
  stroke-dasharray: var(--t-stroke-dasharray);
  stroke-dashoffset: var(--t-stroke-dashoffset);
  stroke-linecap: var(--t-stroke-linecap);
  stroke-linejoin: var(--t-stroke-linejoin);
  stroke-miterlimit: var(--t-stroke-miterlimit);
  stroke-opacity: var(--t-stroke-opacity);
  stroke-width: var(--t-stroke-width);
  vector-effect: var(--t-vector-effect)
}
.tablet.table {
  --t-empty-cells: show;
  --t-table-layout: auto;

  empty-cells: var(--t-empty-cells);
  table-layout: var(--t-table-layout)
}
.tablet.typography {
  --t-font-feature-settings: normal;
  --t-font-kerning: auto;
  --t-font-optical-sizing: auto;
  --t-font-palette: normal;
  --t-font-size-adjust: none;
  --t-font-variant-alternates: normal;
  --t-font-variation-settings: normal;
  --t-letter-spacing: normal;
  --t-line-height: normal;
  --t-tab-size: 8;

  font-feature-settings: var(--t-font-feature-settings);
  font-kerning: var(--t-font-kerning);
  font-optical-sizing: var(--t-font-optical-sizing);
  font-palette: var(--t-font-palette);
  font-size-adjust: var(--t-font-size-adjust);
  font-variant-alternates: var(--t-font-variant-alternates);
  font-variation-settings: var(--t-font-variation-settings);
  letter-spacing: var(--t-letter-spacing);
  line-height: var(--t-line-height);
  tab-size: var(--t-tab-size)
}
.tablet.height {
  --t-height: auto;
  --t-min-height: auto;
  --t-max-height: none;

  height: var(--t-height);
  min-height: var(--t-min-height);
  max-height: var(--t-max-height)
}
.tablet.image {
  --t-image-orientation: from-image;
  --t-image-rendering: auto;

  image-orientation: var(--t-image-orientation);
  image-rendering: var(--t-image-rendering)
}
.tablet.inset {
  --t-inset: auto;

  inset: var(--t-inset)
}
.tablet.math {
  --t-math-style: normal;

  math-style: var(--t-math-style)
}
.tablet.outline {
  --t-outline-offset: 0;
  --t-outline-width: medium;
  --t-outline-style: none;
  --t-outline-color: invert;
  --t-outline: invert;

  outline-offset: var(--t-outline-offset);
  outline: var(--t-outline, var(--t-outline-style) var(--t-outline-color))
}
.tablet.media {
  --t-size: auto;

  size: var(--t-size)
}
.tablet.transition {
  --t-transition-behavior: auto;
  --t-transition-property: all;
  --t-transition-duration: 0s;
  --t-transition-timing-function: ease;
  --t-transition-delay: 0s;
  --t-transition: all 0s ease 0s;

  transition-behavior: var(--t-transition-behavior);
  transition: var(--t-transition, var(--t-transition-duration) var(--t-transition-timing-function) var(--t-transition-delay))
}
.tablet.unicode {
  --t-unicode-bidi: normal;

  unicode-bidi: var(--t-unicode-bidi)
}
.tablet.visibility {
  --t-visibility: visible;

  visibility: var(--t-visibility)
}
.tablet.width {
  --t-width: auto;
  --t-min-width: auto;
  --t-max-width: none;

  width: var(--t-width);
  min-width: var(--t-min-width);
  max-width: var(--t-max-width)
}
.tablet.optimization {
  --t-will-change: auto;

  will-change: var(--t-will-change)
}
.tablet.animation {
  --t-animation-name: none;
  --t-animation-duration: 0s;
  --t-animation-timing-function: ease;
  --t-animation-delay: 0s;
  --t-animation-iteration-count: 1;
  --t-animation-direction: normal;
  --t-animation-fill-mode: none;
  --t-animation-play-state: running;
  --t-animation-composition: replace;
  --t-animation: none;

  animation: var(--t-animation, var(--t-animation-duration) var(--t-animation-timing-function) var(--t-animation-delay) var(--t-animation-iteration-count) var(--t-animation-direction) var(--t-animation-fill-mode) var(--t-animation-play-state) var(--t-animation-composition))
}
.tablet.background {
  --t-background-color: transparent;
  --t-background-image: none;
  --t-background-position-x: 0;
  --t-background-position-y: 0;
  --t-background-size: auto;
  --t-background-repeat: repeat;
  --t-background-attachment: scroll;
  --t-background-origin: padding-box;
  --t-background-clip: border-box;
  --t-background-blend-mode: normal;
  --t-background: transparent;

  background: var(--t-background, var(--t-background-image) var(--t-background-position-x) var(--t-background-position-y) var(--t-background-size) var(--t-background-repeat) var(--t-background-attachment) var(--t-background-origin) var(--t-background-clip) var(--t-background-blend-mode))
}
.tablet.border-image {
  --t-border-image-source: none;
  --t-border-image-slice: 100%;
  --t-border-image-width: 1;
  --t-border-image-outset: 0;
  --t-border-image-repeat: stretch;
  --t-borderImage: initial;

  border-image: var(--t-border-image, var(--t-border-image-slice) var(--t-border-image-width) var(--t-border-image-outset) var(--t-border-image-repeat))
}
.tablet.border-block-start {
  --t-border-block-start-start-width: initial;
  --t-border-block-start-start-style: initial;
  --t-border-block-start-start-color: initial;
  --t-borderBlockStart: initial;

  border-block-start: var(--t-border-block-start, var(--t-border-block-start-start-style) var(--t-border-block-start-start-color))
}
.tablet.border-block-end {
  --t-border-block-end-end-width: initial;
  --t-border-block-end-end-style: initial;
  --t-border-block-end-end-color: initial;
  --t-borderBlockEnd: initial;

  border-block-end: var(--t-border-block-end, var(--t-border-block-end-end-style) var(--t-border-block-end-end-color))
}
.tablet.border-inline-start {
  --t-border-inline-start-start-width: initial;
  --t-border-inline-start-start-style: initial;
  --t-border-inline-start-start-color: initial;
  --t-borderInlineStart: initial;

  border-inline-start: var(--t-border-inline-start, var(--t-border-inline-start-start-style) var(--t-border-inline-start-start-color))
}
.tablet.border-inline-end {
  --t-border-inline-end-end-width: initial;
  --t-border-inline-end-end-style: initial;
  --t-border-inline-end-end-color: initial;
  --t-borderInlineEnd: initial;

  border-inline-end: var(--t-border-inline-end, var(--t-border-inline-end-end-style) var(--t-border-inline-end-end-color))
}
.tablet.border-top {
  --t-border-top-width: medium;
  --t-border-top-style: none;
  --t-border-top-color: currentcolor;
  --t-borderTop: initial;
  --t-border-top-left-radius: 0;
  --t-border-top-right-radius: 0;

  border-top: var(--t-border-top, var(--t-border-top-style) var(--t-border-top-color));
  border-top-left-radius: var(--t-border-top-left-radius);
  border-top-right-radius: var(--t-border-top-right-radius)
}
.tablet.border-right {
  --t-border-right-width: medium;
  --t-border-right-style: none;
  --t-border-right-color: currentcolor;
  --t-borderRight: initial;

  border-right: var(--t-border-right, var(--t-border-right-style) var(--t-border-right-color))
}
.tablet.border-bottom {
  --t-border-bottom-width: medium;
  --t-border-bottom-style: none;
  --t-border-bottom-color: currentcolor;
  --t-borderBottom: initial;
  --t-border-bottom-left-radius: 0;
  --t-border-bottom-right-radius: 0;

  border-bottom: var(--t-border-bottom, var(--t-border-bottom-style) var(--t-border-bottom-color));
  border-bottom-left-radius: var(--t-border-bottom-left-radius);
  border-bottom-right-radius: var(--t-border-bottom-right-radius)
}
.tablet.border-left {
  --t-border-left-width: medium;
  --t-border-left-style: none;
  --t-border-left-color: currentcolor;
  --t-borderLeft: initial;

  border-left: var(--t-border-left, var(--t-border-left-style) var(--t-border-left-color))
}
.tablet.border-start {
  --t-border-start-end-radius: 0;
  --t-border-start-start-radius: 0;

  border-start-end-radius: var(--t-border-start-end-radius);
  border-start-start-radius: var(--t-border-start-start-radius)
}
.tablet.border-end {
  --t-border-end-end-radius: 0;
  --t-border-end-start-radius: 0;

  border-end-end-radius: var(--t-border-end-end-radius);
  border-end-start-radius: var(--t-border-end-start-radius)
}
.tablet.border {
  --t-border-width: initial;
  --t-border-style: initial;
  --t-border-color: initial;
  --t-border: medium none currentcolor;

  border: var(--t-border, var(--t-border-style) var(--t-border-color))
}
.tablet.column {
  --t-column-count: auto;
  --t-column-fill: balance;
  --t-column-rule-color: currentcolor;
  --t-column-rule-style: none;
  --t-column-rule-width: medium;
  --t-column-span: none;
  --t-column-width: auto;

  column-count: var(--t-column-count);
  column-fill: var(--t-column-fill);
  column-rule-color: var(--t-column-rule-color);
  column-rule-style: var(--t-column-rule-style);
  column-rule-width: var(--t-column-rule-width);
  column-span: var(--t-column-span);
  column-width: var(--t-column-width)
}
.tablet.padding {
  --t-padding-top: 0;
  --t-padding-right: 0;
  --t-padding-bottom: 0;
  --t-padding-left: 0;
  --t-padding: 0;

  padding: var(--t-padding, var(--t-padding-right) var(--t-padding-bottom) var(--t-padding-left))
}
.tablet.padding-block {
  --t-padding-block-start: 0;
  --t-padding-block-end: 0;
  --t-paddingBlock: initial;

  padding-block: var(--t-padding-block, var(--t-padding-block-end))
}
.tablet.padding-inline {
  --t-padding-inline-start: 0;
  --t-padding-inline-end: 0;
  --t-paddingInline: initial;

  padding-inline: var(--t-padding-inline, var(--t-padding-inline-end))
}
.tablet.font {
  --t-font-style: normal;
  --t-font-variant: initial;
  --t-font-weight: 400;
  --t-font-stretch: normal;
  --t-font-size: 16;
  --t-font-line-height: initial;
  --t-font-family: serif;
  --t-font: 1rem sans-serif;

  font: var(--t-font, var(--t-font-variant) var(--t-font-weight) var(--t-font-stretch) var(--t-font-size) var(--t-font-line-height) var(--t-font-family))
}
.tablet.font-synthesis {
  --t-font-synthesis-weight: auto;
  --t-font-synthesis-style: auto;
  --t-font-synthesis-small-caps: auto;

  font-synthesis-weight: var(--t-font-synthesis-weight);
  font-synthesis-style: var(--t-font-synthesis-style);
  font-synthesis-small-caps: var(--t-font-synthesis-small-caps)
}
.tablet.gap {
  --t-row-gap: normal;
  --t-column-gap: normal;
  --t-gap: normal;

  gap: var(--t-gap, var(--t-column-gap))
}
.tablet.grid {
  --t-grid-auto-columns: auto;
  --t-grid-auto-flow: row;
  --t-grid-auto-rows: auto;
  --t-grid-column-start: auto;
  --t-grid-column-end: auto;
  --t-grid-row-start: auto;
  --t-grid-row-end: auto;
  --t-grid-template-areas: none;
  --t-grid-template-columns: none;
  --t-grid-template-rows: none;

  grid-auto-columns: var(--t-grid-auto-columns);
  grid-auto-flow: var(--t-grid-auto-flow);
  grid-auto-rows: var(--t-grid-auto-rows);
  grid-column-start: var(--t-grid-column-start);
  grid-column-end: var(--t-grid-column-end);
  grid-row-start: var(--t-grid-row-start);
  grid-row-end: var(--t-grid-row-end);
  grid-template-areas: var(--t-grid-template-areas);
  grid-template-columns: var(--t-grid-template-columns);
  grid-template-rows: var(--t-grid-template-rows)
}
.tablet.inset-block {
  --t-inset-block-start: auto;
  --t-inset-block-end: auto;
  --t-insetBlock: initial;

  inset-block: var(--t-inset-block, var(--t-inset-block-end))
}
.tablet.inset-inline {
  --t-inset-inline-start: auto;
  --t-inset-inline-end: auto;
  --t-insetInline: initial;

  inset-inline: var(--t-inset-inline, var(--t-inset-inline-end))
}
.tablet.margin {
  --t-margin-top: 0;
  --t-margin-right: 0;
  --t-margin-bottom: 0;
  --t-margin-left: 0;
  --t-margin: 0;

  margin: var(--t-margin, var(--t-margin-right) var(--t-margin-bottom) var(--t-margin-left))
}
.tablet.margin-block {
  --t-margin-block-start: 0;
  --t-margin-block-end: 0;
  --t-marginBlock: initial;

  margin-block: var(--t-margin-block, var(--t-margin-block-end))
}
.tablet.margin-inline {
  --t-margin-inline-start: 0;
  --t-margin-inline-end: 0;
  --t-marginInline: initial;

  margin-inline: var(--t-margin-inline, var(--t-margin-inline-end))
}
.tablet.marker {
  --t-marker-end: none;
  --t-marker-mid: none;
  --t-marker-start: none;

  marker-end: var(--t-marker-end);
  marker-mid: var(--t-marker-mid);
  marker-start: var(--t-marker-start)
}
.tablet.mask {
  --t-mask-image: none;
  --t-mask-position-x: initial;
  --t-mask-position-y: initial;
  --t-mask-size: auto;
  --t-mask-repeat: no-repeat;
  --t-mask-origin: border-box;
  --t-mask-clip: border-box;
  --t-mask-mode: match-source;
  --t-mask: none;

  mask: var(--t-mask, var(--t-mask-position-x) var(--t-mask-position-y) var(--t-mask-size) var(--t-mask-repeat) var(--t-mask-origin) var(--t-mask-clip) var(--t-mask-mode))
}
.tablet.max {
  --t-max-block-size: none;
  --t-max-inline-size: none;

  max-block-size: var(--t-max-block-size);
  max-inline-size: var(--t-max-inline-size)
}
.tablet.min {
  --t-min-block-size: auto;
  --t-min-inline-size: auto;

  min-block-size: var(--t-min-block-size);
  min-inline-size: var(--t-min-inline-size)
}
.tablet.object {
  --t-object-fit: fill;
  --t-object-position: 50% 50%;

  object-fit: var(--t-object-fit);
  object-position: var(--t-object-position)
}
.tablet.offset {
  --t-offset-anchor: auto;
  --t-offset-distance: 0;
  --t-offset-path: none;
  --t-offset-position: auto;
  --t-offset-rotate: auto;

  offset-anchor: var(--t-offset-anchor);
  offset-distance: var(--t-offset-distance);
  offset-path: var(--t-offset-path);
  offset-position: var(--t-offset-position);
  offset-rotate: var(--t-offset-rotate)
}
.tablet.overflow {
  --t-overflow-x: visible;
  --t-overflow-y: visible;
  --t-overflow: visible;

  overflow: var(--t-overflow, var(--t-overflow-y))
}
.tablet.overscroll-behavior {
  --t-overscroll-behavior-block: auto;
  --t-overscroll-behavior-inline: auto;
  --t-overscroll-behavior-x: auto;
  --t-overscroll-behavior-y: auto;

  overscroll-behavior-block: var(--t-overscroll-behavior-block);
  overscroll-behavior-inline: var(--t-overscroll-behavior-inline);
  overscroll-behavior-x: var(--t-overscroll-behavior-x);
  overscroll-behavior-y: var(--t-overscroll-behavior-y)
}
.tablet.page-break {
  --t-page-break-after: auto;
  --t-page-break-before: auto;
  --t-page-break-inside: auto;

  page-break-after: var(--t-page-break-after);
  page-break-before: var(--t-page-break-before);
  page-break-inside: var(--t-page-break-inside)
}
.tablet.place {
  --t-place-items: normal;
  --t-place-content: normal;
  --t-place-self: auto;

  place-items: var(--t-place-items);
  place-content: var(--t-place-content);
  place-self: var(--t-place-self)
}
.tablet.ruby {
  --t-ruby-align: space-around;
  --t-ruby-position: over;

  ruby-align: var(--t-ruby-align);
  ruby-position: var(--t-ruby-position)
}
.tablet.scroll-margin {
  --t-scroll-margin-top: 0;
  --t-scroll-margin-right: 0;
  --t-scroll-margin-bottom: 0;
  --t-scroll-margin-left: 0;
  --t-scrollMargin: 0;

  scroll-margin: var(--t-scroll-margin, var(--t-scroll-margin-right) var(--t-scroll-margin-bottom) var(--t-scroll-margin-left))
}
.tablet.scroll-margin-block {
  --t-scroll-margin-block-start: 0;
  --t-scroll-margin-block-end: 0;
  --t-scrollMarginBlock: initial;

  scroll-margin-block: var(--t-scroll-margin-block, var(--t-scroll-margin-block-end))
}
.tablet.scroll-margin-inline {
  --t-scroll-margin-inline-start: 0;
  --t-scroll-margin-inline-end: 0;
  --t-scrollMarginInline: initial;

  scroll-margin-inline: var(--t-scroll-margin-inline, var(--t-scroll-margin-inline-end))
}
.tablet.scroll-padding {
  --t-scroll-padding-top: 0;
  --t-scroll-padding-right: 0;
  --t-scroll-padding-bottom: 0;
  --t-scroll-padding-left: 0;
  --t-scrollPadding: 0;

  scroll-padding: var(--t-scroll-padding, var(--t-scroll-padding-right) var(--t-scroll-padding-bottom) var(--t-scroll-padding-left))
}
.tablet.scroll-padding-block {
  --t-scroll-padding-block-start: 0;
  --t-scroll-padding-block-end: 0;

  scroll-padding-block-start: var(--t-scroll-padding-block-start);
  scroll-padding-block-end: var(--t-scroll-padding-block-end)
}
.tablet.scroll-padding-inline {
  --t-scroll-padding-inline-start: 0;
  --t-scroll-padding-inline-end: 0;

  scroll-padding-inline-start: var(--t-scroll-padding-inline-start);
  scroll-padding-inline-end: var(--t-scroll-padding-inline-end)
}
.tablet.scroll-snap {
  --t-scroll-snap-align: none;
  --t-scroll-snap-stop: normal;
  --t-scroll-snap-type: none;

  scroll-snap-align: var(--t-scroll-snap-align);
  scroll-snap-stop: var(--t-scroll-snap-stop);
  scroll-snap-type: var(--t-scroll-snap-type)
}
.tablet.scrollbar {
  --t-scrollbar-gutter: auto;
  --t-scrollbar-width: auto;

  scrollbar-gutter: var(--t-scrollbar-gutter);
  scrollbar-width: var(--t-scrollbar-width)
}
.tablet.shape {
  --t-shape-image-threshold: 0;
  --t-shape-margin: 0;
  --t-shape-outside: none;
  --t-shape-rendering: auto;

  shape-image-threshold: var(--t-shape-image-threshold);
  shape-margin: var(--t-shape-margin);
  shape-outside: var(--t-shape-outside);
  shape-rendering: var(--t-shape-rendering)
}
.tablet.text-decoration {
  --t-text-decoration-color: currentcolor;
  --t-text-decoration-line: none;
  --t-text-decoration-skip-ink: auto;
  --t-text-decoration-style: solid;
  --t-text-decoration-thickness: auto;

  text-decoration-color: var(--t-text-decoration-color);
  text-decoration-line: var(--t-text-decoration-line);
  text-decoration-skip-ink: var(--t-text-decoration-skip-ink);
  text-decoration-style: var(--t-text-decoration-style);
  text-decoration-thickness: var(--t-text-decoration-thickness)
}
.tablet.text-emphasis {
  --t-text-emphasis-color: currentcolor;
  --t-text-emphasis-position: over right;
  --t-text-emphasis-style: none;

  text-emphasis-color: var(--t-text-emphasis-color);
  text-emphasis-position: var(--t-text-emphasis-position);
  text-emphasis-style: var(--t-text-emphasis-style)
}
.tablet.text-underline {
  --t-text-underline-offset: auto;
  --t-text-underline-position: auto;

  text-underline-offset: var(--t-text-underline-offset);
  text-underline-position: var(--t-text-underline-position)
}
.tablet.text-wrap {
  --t-text-wrap-mode: normal;
  --t-text-wrap-style: normal;

  text-wrap-mode: var(--t-text-wrap-mode);
  text-wrap-style: var(--t-text-wrap-style)
}
.tablet.word {
  --t-word-break: normal;
  --t-word-spacing: 0;

  word-break: var(--t-word-break);
  word-spacing: var(--t-word-spacing)
}
}