@media screen and (min-width: 48rem) {
.tablet.theme {
  --accent-color: auto;
  --color-scheme: normal;

  accent-color: var(--accent-color);
  color-scheme: var(--color-scheme)
}
.tablet.flex {
  --align-content: normal;
  --align-items: normal;
  --flex-direction: row;
  --flex-wrap: nowrap;
  --justify-content: normal;
  --justify-items: legacy;
  --order: 0;
  --flex-basis: initial;
  --flex-grow: initial;
  --flex-shrink: initial;
  --flex: initial;

  align-content: var(--align-content);
  align-items: var(--align-items);
  flex-direction: var(--flex-direction);
  flex-wrap: var(--flex-wrap);
  justify-content: var(--justify-content);
  justify-items: var(--justify-items);
  order: var(--order);
  flex-flex: var(--flex-flex, var(--basis var(--grow) var(--shrink)))
}
.tablet.individual {
  --align-self: auto;
  --justify-self: auto;

  align-self: var(--align-self);
  justify-self: var(--justify-self)
}
.tablet.appearance {
  --appearance: auto;

  appearance: var(--appearance)
}
.tablet.box {
  --aspect-ratio: auto;
  --block-size: auto;
  --box-sizing: content-box;
  --inline-size: auto;
  --zoom: normal;

  aspect-ratio: var(--aspect-ratio);
  block-size: var(--block-size);
  box-sizing: var(--box-sizing);
  inline-size: var(--inline-size);
  zoom: var(--zoom)
}
.tablet.visual-effect {
  --backdrop-filter: none;
  --filter: none;
  --isolation: auto;
  --mix-blend-mode: normal;
  --opacity: 1;

  backdrop-filter: var(--backdrop-filter);
  filter: var(--filter);
  isolation: var(--isolation);
  mix-blend-mode: var(--mix-blend-mode);
  opacity: var(--opacity)
}
.tablet.transform {
  --backface-visibility: visible;
  --perspective: none;
  --perspective-origin: 50% 50%;
  --rotate: none;
  --scale: 1;
  --transform: none;
  --transform-box: border-box;
  --transform-origin: 50% 50% 0;
  --transform-style: flat;
  --translate: none;

  backface-visibility: var(--backface-visibility);
  perspective: var(--perspective);
  perspective-origin: var(--perspective-origin);
  rotate: var(--rotate);
  scale: var(--scale);
  transform: var(--transform);
  transform-box: var(--transform-box);
  transform-origin: var(--transform-origin);
  transform-style: var(--transform-style);
  translate: var(--translate)
}
.tablet.border-collapse {
  --border-collapse: separate;

  border-collapse: var(--border-collapse)
}
.tablet.position {
  --bottom: auto;
  --inset: auto;
  --left: auto;
  --position: static;
  --right: auto;
  --top: auto;
  --z-index: auto;

  bottom: var(--bottom);
  inset: var(--inset);
  left: var(--left);
  position: var(--position);
  right: var(--right);
  top: var(--top);
  z-index: var(--z-index)
}
.tablet.shadow {
  --box-shadow: none;

  box-shadow: var(--box-shadow)
}
.tablet.content-flow {
  --break-after: auto;
  --break-before: auto;
  --break-inside: auto;
  --clear: none;
  --direction: ltr;
  --float: none;
  --overflow-wrap: normal;

  break-after: var(--break-after);
  break-before: var(--break-before);
  break-inside: var(--break-inside);
  clear: var(--clear);
  direction: var(--direction);
  float: var(--float);
  overflow-wrap: var(--overflow-wrap)
}
.tablet.caption {
  --caption-side: top;

  caption-side: var(--caption-side)
}
.tablet.interaction {
  --caret-color: auto;
  --pointer-events: auto;
  --resize: none;
  --scroll-behavior: auto;
  --touch-action: auto;
  --user-select: auto;

  caret-color: var(--caret-color);
  pointer-events: var(--pointer-events);
  resize: var(--resize);
  scroll-behavior: var(--scroll-behavior);
  touch-action: var(--touch-action);
  user-select: var(--user-select)
}
.tablet.masking {
  --clip: auto;
  --clip-path: none;
  --clip-rule: nonzero;
  --mask-composite: add;
  --mask-type: luminance;

  clip: var(--clip);
  clip-path: var(--clip-path);
  clip-rule: var(--clip-rule);
  mask-composite: var(--mask-composite);
  mask-type: var(--mask-type)
}
.tablet.text {
  --color: currentcolor;
  --color-interpolation: srgb;
  --color-interpolation-filters: linearrgb;
  --hyphenate-character: auto;
  --hyphens: manual;
  --line-break: auto;
  --quotes: auto;
  --vertical-align: baseline;
  --white-space-collapse: preserve;
  --writing-mode: horizontal-tb;
  --text-align: initial;
  --text-align-last: initial;
  --text-anchor: initial;
  --text-combine-upright: initial;
  --text-indent: initial;
  --text-orientation: initial;
  --text-overflow: initial;
  --text-rendering: initial;
  --text-shadow: initial;
  --text-transform: none;

  color: var(--color);
  color-interpolation: var(--color-interpolation);
  color-interpolation-filters: var(--color-interpolation-filters);
  hyphenate-character: var(--hyphenate-character);
  hyphens: var(--hyphens);
  line-break: var(--line-break);
  quotes: var(--quotes);
  vertical-align: var(--vertical-align);
  white-space-collapse: var(--white-space-collapse);
  writing-mode: var(--writing-mode);
  text-align: var(--text-align);
  text-align-last: var(--text-align-last);
  text-anchor: var(--text-anchor);
  text-combine-upright: var(--text-combine-upright);
  text-indent: var(--text-indent);
  text-orientation: var(--text-orientation);
  text-overflow: var(--text-overflow);
  text-rendering: var(--text-rendering);
  text-shadow: var(--text-shadow);
  text-transform: var(--text-transform)
}
.tablet.contain {
  --contain: none;
  --contain-intrinsic-block-size: auto;
  --contain-intrinsic-height: auto;
  --contain-intrinsic-inline-size: auto;
  --contain-intrinsic-width: auto;

  contain: var(--contain);
  contain-intrinsic-block-size: var(--contain-intrinsic-block-size);
  contain-intrinsic-height: var(--contain-intrinsic-height);
  contain-intrinsic-inline-size: var(--contain-intrinsic-inline-size);
  contain-intrinsic-width: var(--contain-intrinsic-width)
}
.tablet.container {
  --container-name: none;
  --container-type: none;

  container-name: var(--container-name);
  container-type: var(--container-type)
}
.tablet.content {
  --content: normal;
  --content-visibility: visible;

  content: var(--content);
  content-visibility: var(--content-visibility)
}
.tablet.list {
  --counter-increment: none;
  --counter-reset: none;
  --counter-set: none;
  --list-style-image: none;
  --list-style-position: outside;
  --list-style-type: disc;

  counter-increment: var(--counter-increment);
  counter-reset: var(--counter-reset);
  counter-set: var(--counter-set);
  list-style-image: var(--list-style-image);
  list-style-position: var(--list-style-position);
  list-style-type: var(--list-style-type)
}
.tablet.cursor {
  --cursor: auto;

  cursor: var(--cursor)
}
.tablet.display {
  --display: inline;

  display: var(--display)
}
.tablet.svg {
  --dominant-baseline: auto;
  --fill: black;
  --fill-opacity: 1;
  --fill-rule: nonzero;
  --flood-color: black;
  --flood-opacity: 1;
  --lighting-color: white;
  --paint-order: normal;
  --stop-color: black;
  --stop-opacity: 1;
  --stroke: none;
  --stroke-dasharray: none;
  --stroke-dashoffset: 0;
  --stroke-linecap: butt;
  --stroke-linejoin: miter;
  --stroke-miterlimit: 4;
  --stroke-opacity: 1;
  --stroke-width: 1;
  --vector-effect: none;

  dominant-baseline: var(--dominant-baseline);
  fill: var(--fill);
  fill-opacity: var(--fill-opacity);
  fill-rule: var(--fill-rule);
  flood-color: var(--flood-color);
  flood-opacity: var(--flood-opacity);
  lighting-color: var(--lighting-color);
  paint-order: var(--paint-order);
  stop-color: var(--stop-color);
  stop-opacity: var(--stop-opacity);
  stroke: var(--stroke);
  stroke-dasharray: var(--stroke-dasharray);
  stroke-dashoffset: var(--stroke-dashoffset);
  stroke-linecap: var(--stroke-linecap);
  stroke-linejoin: var(--stroke-linejoin);
  stroke-miterlimit: var(--stroke-miterlimit);
  stroke-opacity: var(--stroke-opacity);
  stroke-width: var(--stroke-width);
  vector-effect: var(--vector-effect)
}
.tablet.table {
  --empty-cells: show;
  --table-layout: auto;

  empty-cells: var(--empty-cells);
  table-layout: var(--table-layout)
}
.tablet.typography {
  --font-feature-settings: normal;
  --font-kerning: auto;
  --font-optical-sizing: auto;
  --font-palette: normal;
  --font-size-adjust: none;
  --font-variant-alternates: normal;
  --font-variation-settings: normal;
  --letter-spacing: normal;
  --line-height: normal;
  --tab-size: 8;

  font-feature-settings: var(--font-feature-settings);
  font-kerning: var(--font-kerning);
  font-optical-sizing: var(--font-optical-sizing);
  font-palette: var(--font-palette);
  font-size-adjust: var(--font-size-adjust);
  font-variant-alternates: var(--font-variant-alternates);
  font-variation-settings: var(--font-variation-settings);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  tab-size: var(--tab-size)
}
.tablet.image {
  --image-orientation: from-image;
  --image-rendering: auto;

  image-orientation: var(--image-orientation);
  image-rendering: var(--image-rendering)
}
.tablet.math {
  --math-style: normal;

  math-style: var(--math-style)
}
.tablet.outline {
  --outline-offset: 0;
  --outline-width: initial;
  --outline-style: initial;
  --outline-color: currentcolor;
  --outline: initial;

  outline-offset: var(--outline-offset);
  outline-outline: var(--outline-outline, var(--width var(--style) var(--color)))
}
.tablet.media {
  --size: auto;

  size: var(--size)
}
.tablet.transition {
  --transition-behavior: auto;
  --transition-property: initial;
  --transition-duration: initial;
  --transition-timing-function: initial;
  --transition-delay: initial;
  --transition: initial;

  transition-behavior: var(--transition-behavior);
  transition-transition: var(--transition-transition, var(--property var(--duration) var(--timing-function) var(--delay)))
}
.tablet.unicode {
  --unicode-bidi: normal;

  unicode-bidi: var(--unicode-bidi)
}
.tablet.visibility {
  --visibility: visible;

  visibility: var(--visibility)
}
.tablet.optimization {
  --will-change: auto;

  will-change: var(--will-change)
}
.tablet.animation {
  --animation-name: initial;
  --animation-duration: initial;
  --animation-timing-function: initial;
  --animation-delay: initial;
  --animation-iteration-count: initial;
  --animation-direction: ltr;
  --animation-fill-mode: initial;
  --animation-play-state: initial;
  --animation: initial;
  --animation-composition: initial;

  animation-animation: var(--animation-animation, var(--name var(--duration) var(--timing-function) var(--delay) var(--iteration-count) var(--direction) var(--fill-mode) var(--play-state)));
  animation-composition: var(--animation-composition)
}
.tablet.background {
  --background-color: currentcolor;
  --background-image: initial;
  --background-position-x: initial;
  --background-position-y: initial;
  --background-size: auto;
  --background-repeat: initial;
  --background-attachment: initial;
  --background-origin: initial;
  --background-clip: auto;
  --background: initial;
  --background-blend-mode: initial;

  background-background: var(--background-background, var(--color var(--image) var(--position-x) var(--position-y) var(--size) var(--repeat) var(--attachment) var(--origin) var(--clip)));
  background-blend-mode: var(--background-blend-mode)
}
.tablet.border-image {
  --border-image-source: initial;
  --border-image-slice: initial;
  --border-image-width: initial;
  --border-image-outset: initial;
  --border-image-repeat: initial;
  --borderImage: initial;

  border-image-border-image: var(--border-image-border-image, var(--source var(--slice) var(--width) var(--outset) var(--repeat)))
}
.tablet.border-block-start {
  --border-block-start-start-width: initial;
  --border-block-start-start-style: initial;
  --border-block-start-start-color: initial;
  --borderBlockStart: initial;

  border-block-start-border-block-start: var(--border-block-start-border-block-start, var(--start-width var(--start-style) var(--start-color)))
}
.tablet.border-block-end {
  --border-block-end-end-width: initial;
  --border-block-end-end-style: initial;
  --border-block-end-end-color: initial;
  --borderBlockEnd: initial;

  border-block-end-border-block-end: var(--border-block-end-border-block-end, var(--end-width var(--end-style) var(--end-color)))
}
.tablet.border-inline-start {
  --border-inline-start-start-width: initial;
  --border-inline-start-start-style: initial;
  --border-inline-start-start-color: initial;
  --borderInlineStart: initial;

  border-inline-start-border-inline-start: var(--border-inline-start-border-inline-start, var(--start-width var(--start-style) var(--start-color)))
}
.tablet.border-inline-end {
  --border-inline-end-end-width: initial;
  --border-inline-end-end-style: initial;
  --border-inline-end-end-color: initial;
  --borderInlineEnd: initial;

  border-inline-end-border-inline-end: var(--border-inline-end-border-inline-end, var(--end-width var(--end-style) var(--end-color)))
}
.tablet.border-top {
  --border-top-width: initial;
  --border-top-style: initial;
  --border-top-color: currentcolor;
  --borderTop: initial;
  --border-top-left-radius: initial;
  --border-top-right-radius: initial;

  border-top-border-top: var(--border-top-border-top, var(--width var(--style) var(--color)));
  border-top-left-radius: var(--border-top-left-radius);
  border-top-right-radius: var(--border-top-right-radius)
}
.tablet.border-right {
  --border-right-width: initial;
  --border-right-style: initial;
  --border-right-color: currentcolor;
  --borderRight: initial;

  border-right-border-right: var(--border-right-border-right, var(--width var(--style) var(--color)))
}
.tablet.border-bottom {
  --border-bottom-width: initial;
  --border-bottom-style: initial;
  --border-bottom-color: currentcolor;
  --borderBottom: initial;
  --border-bottom-left-radius: initial;
  --border-bottom-right-radius: initial;

  border-bottom-border-bottom: var(--border-bottom-border-bottom, var(--width var(--style) var(--color)));
  border-bottom-left-radius: var(--border-bottom-left-radius);
  border-bottom-right-radius: var(--border-bottom-right-radius)
}
.tablet.border-left {
  --border-left-width: initial;
  --border-left-style: initial;
  --border-left-color: currentcolor;
  --borderLeft: initial;

  border-left-border-left: var(--border-left-border-left, var(--width var(--style) var(--color)))
}
.tablet.border-start {
  --border-start-end-radius: initial;
  --border-start-start-radius: initial;

  border-start-end-radius: var(--border-start-end-radius);
  border-start-start-radius: var(--border-start-start-radius)
}
.tablet.border-end {
  --border-end-end-radius: initial;
  --border-end-start-radius: initial;

  border-end-end-radius: var(--border-end-end-radius);
  border-end-start-radius: var(--border-end-start-radius)
}
.tablet.border {
  --border-width: initial;
  --border-style: initial;
  --border-color: currentcolor;
  --border: initial;

  border-border: var(--border-border, var(--width var(--style) var(--color)))
}
.tablet.column {
  --column-count: initial;
  --column-fill: black;
  --column-rule-color: initial;
  --column-rule-style: initial;
  --column-rule-width: initial;
  --column-span: initial;
  --column-width: initial;

  column-count: var(--column-count);
  column-fill: var(--column-fill);
  column-rule-color: var(--column-rule-color);
  column-rule-style: var(--column-rule-style);
  column-rule-width: var(--column-rule-width);
  column-span: var(--column-span);
  column-width: var(--column-width)
}
.tablet.padding {
  --padding-top: auto;
  --padding-right: auto;
  --padding-bottom: auto;
  --padding-left: auto;
  --padding: initial;

  padding-padding: var(--padding-padding, var(--top var(--right) var(--bottom) var(--left)))
}
.tablet.padding-block {
  --padding-block-start: initial;
  --padding-block-end: initial;
  --paddingBlock: initial;

  padding-block-padding-block: var(--padding-block-padding-block, var(--start var(--end)))
}
.tablet.padding-inline {
  --padding-inline-start: initial;
  --padding-inline-end: initial;
  --paddingInline: initial;

  padding-inline-padding-inline: var(--padding-inline-padding-inline, var(--start var(--end)))
}
.tablet.font {
  --font-style: initial;
  --font-variant: initial;
  --font-weight: initial;
  --font-stretch: initial;
  --font-size: auto;
  --font-line-height: normal;
  --font-family: initial;
  --font: normal 400 medium / normal serif;

  font-font: var(--font-font, var(--style var(--variant) var(--weight) var(--stretch) var(--size) var(--line-height) var(--family)))
}
.tablet.font-synthesis {
  --font-synthesis-weight: initial;
  --font-synthesis-style: initial;
  --font-synthesis-small-caps: initial;

  font-synthesis-weight: var(--font-synthesis-weight);
  font-synthesis-style: var(--font-synthesis-style);
  font-synthesis-small-caps: var(--font-synthesis-small-caps)
}
.tablet.gap {
  --row-gap: initial;
  --column-gap: initial;
  --gap: initial;

  gap-gap: var(--gap-gap, var(--row var(--column)))
}
.tablet.grid {
  --grid-auto-columns: initial;
  --grid-auto-flow: initial;
  --grid-auto-rows: initial;
  --grid-column-start: initial;
  --grid-column-end: initial;
  --grid-row-start: initial;
  --grid-row-end: initial;
  --grid-template-areas: initial;
  --grid-template-columns: initial;
  --grid-template-rows: initial;

  grid-auto-columns: var(--grid-auto-columns);
  grid-auto-flow: var(--grid-auto-flow);
  grid-auto-rows: var(--grid-auto-rows);
  grid-column-start: var(--grid-column-start);
  grid-column-end: var(--grid-column-end);
  grid-row-start: var(--grid-row-start);
  grid-row-end: var(--grid-row-end);
  grid-template-areas: var(--grid-template-areas);
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: var(--grid-template-rows)
}
.tablet.inset-block {
  --inset-block-start: initial;
  --inset-block-end: initial;
  --insetBlock: initial;

  inset-block-inset-block: var(--inset-block-inset-block, var(--start var(--end)))
}
.tablet.inset-inline {
  --inset-inline-start: initial;
  --inset-inline-end: initial;
  --insetInline: initial;

  inset-inline-inset-inline: var(--inset-inline-inset-inline, var(--start var(--end)))
}
.tablet.margin {
  --margin-top: auto;
  --margin-right: auto;
  --margin-bottom: auto;
  --margin-left: auto;
  --margin: initial;

  margin-margin: var(--margin-margin, var(--top var(--right) var(--bottom) var(--left)))
}
.tablet.margin-block {
  --margin-block-start: initial;
  --margin-block-end: initial;
  --marginBlock: initial;

  margin-block-margin-block: var(--margin-block-margin-block, var(--start var(--end)))
}
.tablet.margin-inline {
  --margin-inline-start: initial;
  --margin-inline-end: initial;
  --marginInline: initial;

  margin-inline-margin-inline: var(--margin-inline-margin-inline, var(--start var(--end)))
}
.tablet.width {
  --min-width: initial;
  --max-width: initial;

  min-width: var(--min-width);
  max-width: var(--max-width)
}
.tablet.height {
  --min-height: initial;
  --max-height: initial;

  min-height: var(--min-height);
  max-height: var(--max-height)
}
.tablet.marker {
  --marker-end: initial;
  --marker-mid: initial;
  --marker-start: initial;

  marker-end: var(--marker-end);
  marker-mid: var(--marker-mid);
  marker-start: var(--marker-start)
}
.tablet.mask {
  --mask-image: initial;
  --mask-position-x: initial;
  --mask-position-y: initial;
  --mask-size: auto;
  --mask-repeat: initial;
  --mask-origin: initial;
  --mask-clip: auto;
  --mask-mode: initial;
  --mask: initial;

  mask-mask: var(--mask-mask, var(--image var(--position-x) var(--position-y) var(--size) var(--repeat) var(--origin) var(--clip) var(--mode)))
}
.tablet.max {
  --max-block-size: auto;
  --max-inline-size: auto;

  max-block-size: var(--max-block-size);
  max-inline-size: var(--max-inline-size)
}
.tablet.min {
  --min-block-size: auto;
  --min-inline-size: auto;

  min-block-size: var(--min-block-size);
  min-inline-size: var(--min-inline-size)
}
.tablet.object {
  --object-fit: initial;
  --object-position: static;

  object-fit: var(--object-fit);
  object-position: var(--object-position)
}
.tablet.offset {
  --offset-anchor: initial;
  --offset-distance: initial;
  --offset-path: initial;
  --offset-position: static;
  --offset-rotate: none;

  offset-anchor: var(--offset-anchor);
  offset-distance: var(--offset-distance);
  offset-path: var(--offset-path);
  offset-position: var(--offset-position);
  offset-rotate: var(--offset-rotate)
}
.tablet.overflow {
  --overflow-x: initial;
  --overflow-y: initial;
  --overflow: initial;

  overflow-overflow: var(--overflow-overflow, var(--x var(--y)))
}
.tablet.overscroll-behavior {
  --overscroll-behavior-block: initial;
  --overscroll-behavior-inline: initial;
  --overscroll-behavior-x: initial;
  --overscroll-behavior-y: initial;

  overscroll-behavior-block: var(--overscroll-behavior-block);
  overscroll-behavior-inline: var(--overscroll-behavior-inline);
  overscroll-behavior-x: var(--overscroll-behavior-x);
  overscroll-behavior-y: var(--overscroll-behavior-y)
}
.tablet.page-break {
  --page-break-after: initial;
  --page-break-before: initial;
  --page-break-inside: initial;

  page-break-after: var(--page-break-after);
  page-break-before: var(--page-break-before);
  page-break-inside: var(--page-break-inside)
}
.tablet.place {
  --place-items: initial;
  --place-content: normal;
  --place-self: initial;

  place-items: var(--place-items);
  place-content: var(--place-content);
  place-self: var(--place-self)
}
.tablet.ruby {
  --ruby-align: initial;
  --ruby-position: static;

  ruby-align: var(--ruby-align);
  ruby-position: var(--ruby-position)
}
.tablet.scroll-margin {
  --scroll-margin-top: auto;
  --scroll-margin-right: auto;
  --scroll-margin-bottom: auto;
  --scroll-margin-left: auto;
  --scrollMargin: initial;

  scroll-margin-scroll-margin: var(--scroll-margin-scroll-margin, var(--top var(--right) var(--bottom) var(--left)))
}
.tablet.scroll-margin-block {
  --scroll-margin-block-start: initial;
  --scroll-margin-block-end: initial;
  --scrollMarginBlock: initial;

  scroll-margin-block-scroll-margin-block: var(--scroll-margin-block-scroll-margin-block, var(--start var(--end)))
}
.tablet.scroll-margin-inline {
  --scroll-margin-inline-start: initial;
  --scroll-margin-inline-end: initial;
  --scrollMarginInline: initial;

  scroll-margin-inline-scroll-margin-inline: var(--scroll-margin-inline-scroll-margin-inline, var(--start var(--end)))
}
.tablet.scroll-padding {
  --scroll-padding-top: auto;
  --scroll-padding-right: auto;
  --scroll-padding-bottom: auto;
  --scroll-padding-left: auto;
  --scrollPadding: initial;

  scroll-padding-scroll-padding: var(--scroll-padding-scroll-padding, var(--top var(--right) var(--bottom) var(--left)))
}
.tablet.scroll-padding-block {
  --scroll-padding-block-start: initial;
  --scroll-padding-block-end: initial;

  scroll-padding-block-start: var(--scroll-padding-block-start);
  scroll-padding-block-end: var(--scroll-padding-block-end)
}
.tablet.scroll-padding-inline {
  --scroll-padding-inline-start: initial;
  --scroll-padding-inline-end: initial;

  scroll-padding-inline-start: var(--scroll-padding-inline-start);
  scroll-padding-inline-end: var(--scroll-padding-inline-end)
}
.tablet.scroll-snap {
  --scroll-snap-align: initial;
  --scroll-snap-stop: initial;
  --scroll-snap-type: initial;

  scroll-snap-align: var(--scroll-snap-align);
  scroll-snap-stop: var(--scroll-snap-stop);
  scroll-snap-type: var(--scroll-snap-type)
}
.tablet.scrollbar {
  --scrollbar-gutter: initial;
  --scrollbar-width: initial;

  scrollbar-gutter: var(--scrollbar-gutter);
  scrollbar-width: var(--scrollbar-width)
}
.tablet.shape {
  --shape-image-threshold: initial;
  --shape-margin: initial;
  --shape-outside: initial;
  --shape-rendering: initial;

  shape-image-threshold: var(--shape-image-threshold);
  shape-margin: var(--shape-margin);
  shape-outside: var(--shape-outside);
  shape-rendering: var(--shape-rendering)
}
.tablet.text-decoration {
  --text-decoration-color: currentcolor;
  --text-decoration-line: initial;
  --text-decoration-skip-ink: initial;
  --text-decoration-style: initial;
  --text-decoration-thickness: initial;

  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: var(--text-decoration-line);
  text-decoration-skip-ink: var(--text-decoration-skip-ink);
  text-decoration-style: var(--text-decoration-style);
  text-decoration-thickness: var(--text-decoration-thickness)
}
.tablet.text-emphasis {
  --text-emphasis-color: currentcolor;
  --text-emphasis-position: static;
  --text-emphasis-style: initial;

  text-emphasis-color: var(--text-emphasis-color);
  text-emphasis-position: var(--text-emphasis-position);
  text-emphasis-style: var(--text-emphasis-style)
}
.tablet.text-underline {
  --text-underline-offset: initial;
  --text-underline-position: static;

  text-underline-offset: var(--text-underline-offset);
  text-underline-position: var(--text-underline-position)
}
.tablet.text-wrap {
  --text-wrap-mode: initial;
  --text-wrap-style: initial;

  text-wrap-mode: var(--text-wrap-mode);
  text-wrap-style: var(--text-wrap-style)
}
.tablet.word {
  --word-break: initial;
  --word-spacing: initial;

  word-break: var(--word-break);
  word-spacing: var(--word-spacing)
}
}