.tablet.animation {
  --animation-name: none;
  --animation-duration: 0s;
  --animation-timing-function: ease;
  --animation-delay: 0s;
  --animation-iteration-count: 1;
  --animation-direction: normal;
  --animation-fill-mode: none;
  --animation-play-state: running;
  --animation-composition: replace;
  --animation: none;

  animation: var(--animation, var(--animation-duration) var(--animation-timing-function) var(--animation-delay) var(--animation-iteration-count) var(--animation-direction) var(--animation-fill-mode) var(--animation-play-state) var(--animation-composition));
}