.tablet.animation {
  --t-animation-name: none;
  --t-animation-duration: 0s;
  --t-animation-timing-function: ease;
  --t-animation-delay: 0s;
  --t-animation-iteration-count: 1;
  --t-animation-direction: normal;
  --t-animation-fill-mode: none;
  --t-animation-play-state: running;
  --t-animation-composition: replace;
  --t-animation: none;

  animation: var(--t-animation, var(--t-animation-duration) var(--t-animation-timing-function) var(--t-animation-delay) var(--t-animation-iteration-count) var(--t-animation-direction) var(--t-animation-fill-mode) var(--t-animation-play-state) var(--t-animation-composition))
}