.tablet.background {
  --t-background-color: transparent;
  --t-background-image: none;
  --t-background-position-x: 0;
  --t-background-position-y: 0;
  --t-background-size: auto;
  --t-background-repeat: repeat;
  --t-background-attachment: scroll;
  --t-background-origin: padding-box;
  --t-background-clip: border-box;
  --t-background-blend-mode: normal;
  --t-background: transparent;

  background: var(--t-background, var(--t-background-image) var(--t-background-position-x) var(--t-background-position-y) var(--t-background-size) var(--t-background-repeat) var(--t-background-attachment) var(--t-background-origin) var(--t-background-clip) var(--t-background-blend-mode))
}