.tablet.background {
  --background-color: transparent;
  --background-image: none;
  --background-position-x: 0;
  --background-position-y: 0;
  --background-size: auto;
  --background-repeat: repeat;
  --background-attachment: scroll;
  --background-origin: padding-box;
  --background-clip: border-box;
  --background: transparent;
  --background-blend-mode: normal;

  background: var(--background, var(--color var(--image) var(--position-x) var(--position-y) var(--size) var(--repeat) var(--attachment) var(--origin) var(--clip)));
  background-blend-mode: var(--background-blend-mode)
}