.tablet.border-end {
  --t-border-end-end-radius: 0;
  --t-border-end-start-radius: 0;

  border-end-end-radius: var(--t-border-end-end-radius);
  border-end-start-radius: var(--t-border-end-start-radius)
}