.tablet.border-block-end {
  --t-border-block-end-end-width: initial;
  --t-border-block-end-end-style: initial;
  --t-border-block-end-end-color: initial;
  --t-borderBlockEnd: initial;

  border-block-end: var(--t-border-block-end, var(--t-border-block-end-end-style) var(--t-border-block-end-end-color))
}