.tablet.border-left {
  --t-border-left-width: medium;
  --t-border-left-style: none;
  --t-border-left-color: currentcolor;
  --t-borderLeft: initial;

  border-left: var(--t-border-left, var(--t-border-left-style) var(--t-border-left-color))
}