.tablet.border-image {
  --t-border-image-source: none;
  --t-border-image-slice: 100%;
  --t-border-image-width: 1;
  --t-border-image-outset: 0;
  --t-border-image-repeat: stretch;
  --t-borderImage: initial;

  border-image: var(--t-border-image, var(--t-border-image-slice) var(--t-border-image-width) var(--t-border-image-outset) var(--t-border-image-repeat))
}