.tablet.border-top {
  --t-border-top-width: medium;
  --t-border-top-style: none;
  --t-border-top-color: currentcolor;
  --t-borderTop: initial;
  --t-border-top-left-radius: 0;
  --t-border-top-right-radius: 0;

  border-top: var(--t-border-top, var(--t-border-top-style) var(--t-border-top-color));
  border-top-left-radius: var(--t-border-top-left-radius);
  border-top-right-radius: var(--t-border-top-right-radius)
}