@media screen and (min-width: 48rem) {
  .tablet.border-end {
    --border-end-end-radius: 0;
    border-end-end-radius: var(--border-end-end-radius);
    --border-end-start-radius: 0;
    border-end-start-radius: var(--border-end-start-radius)
  }
}