.tablet.border-left {
  --border-left-width: initial;
  --border-left-style: initial;
  --border-left-color: currentcolor;
  --borderLeft: initial;

  border-left-border-left: var(--border-left-border-left, var(--width var(--style) var(--color)))
}