.tablet.border-bottom {
  --t-border-bottom-width: medium;
  --t-border-bottom-style: none;
  --t-border-bottom-color: currentcolor;
  --t-borderBottom: initial;
  --t-border-bottom-left-radius: 0;
  --t-border-bottom-right-radius: 0;

  border-bottom: var(--t-border-bottom, var(--t-border-bottom-style) var(--t-border-bottom-color));
  border-bottom-left-radius: var(--t-border-bottom-left-radius);
  border-bottom-right-radius: var(--t-border-bottom-right-radius)
}