.tablet.border-block-start {
  --t-border-block-start-start-width: initial;
  --t-border-block-start-start-style: initial;
  --t-border-block-start-start-color: initial;
  --t-borderBlockStart: initial;

  border-block-start: var(--t-border-block-start, var(--t-border-block-start-start-style) var(--t-border-block-start-start-color))
}