.tablet.border-inline-end {
  --t-border-inline-end-end-width: initial;
  --t-border-inline-end-end-style: initial;
  --t-border-inline-end-end-color: initial;
  --t-borderInlineEnd: initial;

  border-inline-end: var(--t-border-inline-end, var(--t-border-inline-end-end-style) var(--t-border-inline-end-end-color))
}