.tablet.border-start {
  --border-start-end-radius: initial;
  --border-start-start-radius: initial;

  border-start-end-radius: var(--border-start-end-radius);
  border-start-start-radius: var(--border-start-start-radius)
}