.tablet.border {
  --t-border-width: initial;
  --t-border-style: initial;
  --t-border-color: initial;
  --t-border: medium none currentcolor;

  border: var(--t-border, var(--t-border-style) var(--t-border-color))
}