@media screen and (min-width: 48rem) {
  .tablet.border-bottom {
    --border-bottom-left-radius: 0;
    border-bottom-left-radius: var(--border-bottom-left-radius);
    --border-bottom-right-radius: 0;
    border-bottom-right-radius: var(--border-bottom-right-radius)
  }
}