.tablet.border-right {
  --t-border-right-width: medium;
  --t-border-right-style: none;
  --t-border-right-color: currentcolor;
  --t-borderRight: initial;

  border-right: var(--t-border-right, var(--t-border-right-style) var(--t-border-right-color))
}