.tablet.border-inline-start {
  --t-border-inline-start-start-width: initial;
  --t-border-inline-start-start-style: initial;
  --t-border-inline-start-start-color: initial;
  --t-borderInlineStart: initial;

  border-inline-start: var(--t-border-inline-start, var(--t-border-inline-start-start-style) var(--t-border-inline-start-start-color))
}