.tablet.box {
  --t-aspect-ratio: auto;
  --t-block-size: auto;
  --t-box-sizing: content-box;
  --t-inline-size: auto;
  --t-zoom: auto;

  aspect-ratio: var(--t-aspect-ratio);
  block-size: var(--t-block-size);
  box-sizing: var(--t-box-sizing);
  inline-size: var(--t-inline-size);
  zoom: var(--t-zoom)
}