.tablet.column {
  --t-column-count: auto;
  --t-column-fill: balance;
  --t-column-rule-color: currentcolor;
  --t-column-rule-style: none;
  --t-column-rule-width: medium;
  --t-column-span: none;
  --t-column-width: auto;

  column-count: var(--t-column-count);
  column-fill: var(--t-column-fill);
  column-rule-color: var(--t-column-rule-color);
  column-rule-style: var(--t-column-rule-style);
  column-rule-width: var(--t-column-rule-width);
  column-span: var(--t-column-span);
  column-width: var(--t-column-width)
}