.tablet.content-flow {
  --t-break-after: auto;
  --t-break-before: auto;
  --t-break-inside: auto;
  --t-clear: none;
  --t-direction: ltr;
  --t-float: none;
  --t-overflow-wrap: normal;

  break-after: var(--t-break-after);
  break-before: var(--t-break-before);
  break-inside: var(--t-break-inside);
  clear: var(--t-clear);
  direction: var(--t-direction);
  float: var(--t-float);
  overflow-wrap: var(--t-overflow-wrap)
}