.tablet.contain {
  --t-contain: none;
  --t-contain-intrinsic-block-size: auto;
  --t-contain-intrinsic-height: auto;
  --t-contain-intrinsic-inline-size: auto;
  --t-contain-intrinsic-width: auto;

  contain: var(--t-contain);
  contain-intrinsic-block-size: var(--t-contain-intrinsic-block-size);
  contain-intrinsic-height: var(--t-contain-intrinsic-height);
  contain-intrinsic-inline-size: var(--t-contain-intrinsic-inline-size);
  contain-intrinsic-width: var(--t-contain-intrinsic-width)
}