@media screen and (min-width: 48rem) {
  .tablet.content {
    --content: normal;
    content: var(--content);
    --content-visibility: visible;
    content-visibility: var(--content-visibility)
  }
}