.tablet.flex {
  --t-align-content: normal;
  --t-align-items: normal;
  --t-flex-direction: row;
  --t-flex-wrap: nowrap;
  --t-justify-content: normal;
  --t-justify-items: legacy;
  --t-order: 0;
  --t-flex-grow: 0;
  --t-flex-shrink: 1;
  --t-flex-basis: auto;
  --t-flex: 0 1 auto;

  align-content: var(--t-align-content);
  align-items: var(--t-align-items);
  flex-direction: var(--t-flex-direction);
  flex-wrap: var(--t-flex-wrap);
  justify-content: var(--t-justify-content);
  justify-items: var(--t-justify-items);
  order: var(--t-order);
  flex: var(--t-flex, var(--t-flex-shrink) var(--t-flex-basis))
}