@media screen and (min-width: 48rem) {
  .tablet.flex {
    --align-content: normal;
    align-content: var(--align-content);
    --align-items: normal;
    align-items: var(--align-items);
    --flex-direction: row;
    flex-direction: var(--flex-direction);
    --flex-wrap: nowrap;
    flex-wrap: var(--flex-wrap);
    --justify-content: normal;
    justify-content: var(--justify-content);
    --justify-items: legacy;
    justify-items: var(--justify-items);
    --order: initial;
    order: var(--order)
  }
}