.tablet.font {
  --t-font-style: normal;
  --t-font-variant: initial;
  --t-font-weight: 400;
  --t-font-stretch: normal;
  --t-font-size: 16;
  --t-font-line-height: initial;
  --t-font-family: serif;
  --t-font: 1rem sans-serif;

  font: var(--t-font, var(--t-font-variant) var(--t-font-weight) var(--t-font-stretch) var(--t-font-size) var(--t-font-line-height) var(--t-font-family))
}