.tablet.font {
  --font-style: normal;
  --font-variant: initial;
  --font-weight: 400;
  --font-stretch: normal;
  --font-size: 16;
  --font-line-height: initial;
  --font-family: serif;
  --font: 1rem sans-serif;

  font: var(--font, var(--font-variant) var(--font-weight) var(--font-stretch) var(--font-size) var(--font-line-height) var(--font-family))
}