.tablet.font-synthesis {
  --t-font-synthesis-weight: auto;
  --t-font-synthesis-style: auto;
  --t-font-synthesis-small-caps: auto;

  font-synthesis-weight: var(--t-font-synthesis-weight);
  font-synthesis-style: var(--t-font-synthesis-style);
  font-synthesis-small-caps: var(--t-font-synthesis-small-caps)
}