@media screen and (min-width: 48rem) {
  .tablet.image {
    --image-orientation: from-image;
    image-orientation: var(--image-orientation);
    --image-rendering: auto;
    image-rendering: var(--image-rendering)
  }
}