.tablet.interaction {
  --t-caret-color: auto;
  --t-pointer-events: auto;
  --t-resize: none;
  --t-scroll-behavior: auto;
  --t-touch-action: auto;
  --t-user-select: auto;

  caret-color: var(--t-caret-color);
  pointer-events: var(--t-pointer-events);
  resize: var(--t-resize);
  scroll-behavior: var(--t-scroll-behavior);
  touch-action: var(--t-touch-action);
  user-select: var(--t-user-select)
}