.tablet.list {
  --t-counter-increment: none;
  --t-counter-reset: none;
  --t-counter-set: none;
  --t-list-style-image: none;
  --t-list-style-position: outside;
  --t-list-style-type: disc;

  counter-increment: var(--t-counter-increment);
  counter-reset: var(--t-counter-reset);
  counter-set: var(--t-counter-set);
  list-style-image: var(--t-list-style-image);
  list-style-position: var(--t-list-style-position);
  list-style-type: var(--t-list-style-type)
}