.tablet.margin {
  --t-margin-top: 0;
  --t-margin-right: 0;
  --t-margin-bottom: 0;
  --t-margin-left: 0;
  --t-margin: 0;

  margin: var(--t-margin, var(--t-margin-right) var(--t-margin-bottom) var(--t-margin-left))
}