@media screen and (min-width: 48rem) {
  .tablet.marker {
    --marker-end: svg;
    marker-end: var(--marker-end);
    --marker-mid: svg;
    marker-mid: var(--marker-mid);
    --marker-start: svg;
    marker-start: var(--marker-start)
  }
}