.tablet.marker {
  --t-marker-end: none;
  --t-marker-mid: none;
  --t-marker-start: none;

  marker-end: var(--t-marker-end);
  marker-mid: var(--t-marker-mid);
  marker-start: var(--t-marker-start)
}