.tablet.mask {
  --t-mask-image: none;
  --t-mask-position-x: initial;
  --t-mask-position-y: initial;
  --t-mask-size: auto;
  --t-mask-repeat: no-repeat;
  --t-mask-origin: border-box;
  --t-mask-clip: border-box;
  --t-mask-mode: match-source;
  --t-mask: none;

  mask: var(--t-mask, var(--t-mask-position-x) var(--t-mask-position-y) var(--t-mask-size) var(--t-mask-repeat) var(--t-mask-origin) var(--t-mask-clip) var(--t-mask-mode))
}