.tablet.mask {
  --mask-image: none;
  --mask-position-x: initial;
  --mask-position-y: initial;
  --mask-size: auto;
  --mask-repeat: no-repeat;
  --mask-origin: border-box;
  --mask-clip: border-box;
  --mask-mode: match-source;
  --mask: none;

  mask: var(--mask, var(--image var(--position-x) var(--position-y) var(--size) var(--repeat) var(--origin) var(--clip) var(--mode)))
}