.tablet.masking {
  --t-clip: auto;
  --t-clip-path: none;
  --t-clip-rule: nonzero;
  --t-mask-composite: add;
  --t-mask-type: luminance;

  clip: var(--t-clip);
  clip-path: var(--t-clip-path);
  clip-rule: var(--t-clip-rule);
  mask-composite: var(--t-mask-composite);
  mask-type: var(--t-mask-type)
}