.tablet.offset {
  --offset-anchor: auto;
  --offset-distance: 0;
  --offset-path: none;
  --offset-position: auto;
  --offset-rotate: auto;

  offset-anchor: var(--offset-anchor);
  offset-distance: var(--offset-distance);
  offset-path: var(--offset-path);
  offset-position: var(--offset-position);
  offset-rotate: var(--offset-rotate)
}