.tablet.offset {
  --t-offset-anchor: auto;
  --t-offset-distance: 0;
  --t-offset-path: none;
  --t-offset-position: auto;
  --t-offset-rotate: auto;

  offset-anchor: var(--t-offset-anchor);
  offset-distance: var(--t-offset-distance);
  offset-path: var(--t-offset-path);
  offset-position: var(--t-offset-position);
  offset-rotate: var(--t-offset-rotate)
}