.tablet.outline {
  --t-outline-offset: 0;
  --t-outline-width: medium;
  --t-outline-style: none;
  --t-outline-color: invert;
  --t-outline: invert;

  outline-offset: var(--t-outline-offset);
  outline: var(--t-outline, var(--t-outline-style) var(--t-outline-color))
}