.tablet.overscroll-behavior {
  --t-overscroll-behavior-block: auto;
  --t-overscroll-behavior-inline: auto;
  --t-overscroll-behavior-x: auto;
  --t-overscroll-behavior-y: auto;

  overscroll-behavior-block: var(--t-overscroll-behavior-block);
  overscroll-behavior-inline: var(--t-overscroll-behavior-inline);
  overscroll-behavior-x: var(--t-overscroll-behavior-x);
  overscroll-behavior-y: var(--t-overscroll-behavior-y)
}