.tablet.overscroll-behavior {
  --overscroll-behavior-block: auto;
  --overscroll-behavior-inline: auto;
  --overscroll-behavior-x: auto;
  --overscroll-behavior-y: auto;

  overscroll-behavior-block: var(--overscroll-behavior-block);
  overscroll-behavior-inline: var(--overscroll-behavior-inline);
  overscroll-behavior-x: var(--overscroll-behavior-x);
  overscroll-behavior-y: var(--overscroll-behavior-y)
}