.tablet.overscroll-behavior {
  --overscroll-behavior-block: initial;
  --overscroll-behavior-inline: initial;
  --overscroll-behavior-x: initial;
  --overscroll-behavior-y: initial;

  overscroll-behavior-block: var(--overscroll-behavior-block);
  overscroll-behavior-inline: var(--overscroll-behavior-inline);
  overscroll-behavior-x: var(--overscroll-behavior-x);
  overscroll-behavior-y: var(--overscroll-behavior-y)
}