.tablet.padding {
  --padding-top: 0;
  --padding-right: 0;
  --padding-bottom: 0;
  --padding-left: 0;
  --padding: 0;

  padding: var(--padding, var(--padding-right) var(--padding-bottom) var(--padding-left));
}