.tablet.padding {
  --padding-top: auto;
  --padding-right: auto;
  --padding-bottom: auto;
  --padding-left: auto;
  --padding: initial;

  padding-padding: var(--padding-padding, var(--top var(--right) var(--bottom) var(--left)))
}