.tablet.padding {
  --t-padding-top: 0;
  --t-padding-right: 0;
  --t-padding-bottom: 0;
  --t-padding-left: 0;
  --t-padding: 0;

  padding: var(--t-padding, var(--t-padding-right) var(--t-padding-bottom) var(--t-padding-left))
}