.tablet.page-break {
  --t-page-break-after: auto;
  --t-page-break-before: auto;
  --t-page-break-inside: auto;

  page-break-after: var(--t-page-break-after);
  page-break-before: var(--t-page-break-before);
  page-break-inside: var(--t-page-break-inside)
}