.tablet.place {
  --t-place-items: normal;
  --t-place-content: normal;
  --t-place-self: auto;

  place-items: var(--t-place-items);
  place-content: var(--t-place-content);
  place-self: var(--t-place-self)
}