.tablet.position {
  --t-bottom: auto;
  --t-left: auto;
  --t-position: static;
  --t-right: auto;
  --t-top: auto;
  --t-z-index: auto;

  bottom: var(--t-bottom);
  left: var(--t-left);
  position: var(--t-position);
  right: var(--t-right);
  top: var(--t-top);
  z-index: var(--t-z-index)
}