@media screen and (min-width: 48rem) {
  .tablet.scrollbar {
    --scrollbar-gutter: auto;
    scrollbar-gutter: var(--scrollbar-gutter);
    --scrollbar-width: auto;
    scrollbar-width: var(--scrollbar-width)
  }
}