.tablet.scroll-padding {
  --scroll-padding-top: 0;
  --scroll-padding-right: 0;
  --scroll-padding-bottom: 0;
  --scroll-padding-left: 0;
  --scrollPadding: 0;

  scroll-padding: var(--scroll-padding, var(--scroll-padding-right) var(--scroll-padding-bottom) var(--scroll-padding-left))
}