.tablet.scroll-margin {
  --t-scroll-margin-top: 0;
  --t-scroll-margin-right: 0;
  --t-scroll-margin-bottom: 0;
  --t-scroll-margin-left: 0;
  --t-scrollMargin: 0;

  scroll-margin: var(--t-scroll-margin, var(--t-scroll-margin-right) var(--t-scroll-margin-bottom) var(--t-scroll-margin-left))
}