.tablet.scroll-margin-inline {
  --t-scroll-margin-inline-start: 0;
  --t-scroll-margin-inline-end: 0;
  --t-scrollMarginInline: initial;

  scroll-margin-inline: var(--t-scroll-margin-inline, var(--t-scroll-margin-inline-end))
}