.tablet.scroll-snap {
  --scroll-snap-align: none;
  --scroll-snap-stop: normal;
  --scroll-snap-type: none;

  scroll-snap-align: var(--scroll-snap-align);
  scroll-snap-stop: var(--scroll-snap-stop);
  scroll-snap-type: var(--scroll-snap-type)
}