.tablet.scroll-snap {
  --t-scroll-snap-align: none;
  --t-scroll-snap-stop: normal;
  --t-scroll-snap-type: none;

  scroll-snap-align: var(--t-scroll-snap-align);
  scroll-snap-stop: var(--t-scroll-snap-stop);
  scroll-snap-type: var(--t-scroll-snap-type)
}