@media screen and (min-width: 48rem) {
  .tablet.scroll-snap {
    --scroll-snap-align: none;
    scroll-snap-align: var(--scroll-snap-align);
    --scroll-snap-stop: normal;
    scroll-snap-stop: var(--scroll-snap-stop);
    --scroll-snap-type: none;
    scroll-snap-type: var(--scroll-snap-type)
  }
}