.tablet.scroll-padding-inline {
  --t-scroll-padding-inline-start: 0;
  --t-scroll-padding-inline-end: 0;

  scroll-padding-inline-start: var(--t-scroll-padding-inline-start);
  scroll-padding-inline-end: var(--t-scroll-padding-inline-end)
}