.tablet.scroll-padding {
  --t-scroll-padding-top: 0;
  --t-scroll-padding-right: 0;
  --t-scroll-padding-bottom: 0;
  --t-scroll-padding-left: 0;
  --t-scrollPadding: 0;

  scroll-padding: var(--t-scroll-padding, var(--t-scroll-padding-right) var(--t-scroll-padding-bottom) var(--t-scroll-padding-left))
}