.tablet.scroll-padding-block {
  --scroll-padding-block-start: initial;
  --scroll-padding-block-end: initial;

  scroll-padding-block-start: var(--scroll-padding-block-start);
  scroll-padding-block-end: var(--scroll-padding-block-end)
}