.tablet.scroll-margin-inline {
  --scroll-margin-inline-start: initial;
  --scroll-margin-inline-end: initial;
  --scrollMarginInline: initial;

  scroll-margin-inline-scroll-margin-inline: var(--scroll-margin-inline-scroll-margin-inline, var(--start var(--end)))
}