.tablet.scroll-padding-block {
  --t-scroll-padding-block-start: 0;
  --t-scroll-padding-block-end: 0;

  scroll-padding-block-start: var(--t-scroll-padding-block-start);
  scroll-padding-block-end: var(--t-scroll-padding-block-end)
}