.tablet.shape {
  --t-shape-image-threshold: 0;
  --t-shape-margin: 0;
  --t-shape-outside: none;
  --t-shape-rendering: auto;

  shape-image-threshold: var(--t-shape-image-threshold);
  shape-margin: var(--t-shape-margin);
  shape-outside: var(--t-shape-outside);
  shape-rendering: var(--t-shape-rendering)
}