.tablet.svg {
  --t-dominant-baseline: auto;
  --t-fill: black;
  --t-fill-opacity: 1;
  --t-fill-rule: nonzero;
  --t-flood-color: black;
  --t-flood-opacity: 1;
  --t-lighting-color: white;
  --t-paint-order: normal;
  --t-stop-color: black;
  --t-stop-opacity: 1;
  --t-stroke: none;
  --t-stroke-dasharray: none;
  --t-stroke-dashoffset: 0;
  --t-stroke-linecap: butt;
  --t-stroke-linejoin: miter;
  --t-stroke-miterlimit: 4;
  --t-stroke-opacity: 1;
  --t-stroke-width: 1;
  --t-vector-effect: none;

  dominant-baseline: var(--t-dominant-baseline);
  fill: var(--t-fill);
  fill-opacity: var(--t-fill-opacity);
  fill-rule: var(--t-fill-rule);
  flood-color: var(--t-flood-color);
  flood-opacity: var(--t-flood-opacity);
  lighting-color: var(--t-lighting-color);
  paint-order: var(--t-paint-order);
  stop-color: var(--t-stop-color);
  stop-opacity: var(--t-stop-opacity);
  stroke: var(--t-stroke);
  stroke-dasharray: var(--t-stroke-dasharray);
  stroke-dashoffset: var(--t-stroke-dashoffset);
  stroke-linecap: var(--t-stroke-linecap);
  stroke-linejoin: var(--t-stroke-linejoin);
  stroke-miterlimit: var(--t-stroke-miterlimit);
  stroke-opacity: var(--t-stroke-opacity);
  stroke-width: var(--t-stroke-width);
  vector-effect: var(--t-vector-effect)
}