@media screen and (min-width: 48rem) {
  .tablet.text-wrap {
    --text-wrap-mode: normal;
    text-wrap-mode: var(--text-wrap-mode);
    --text-wrap-style: normal;
    text-wrap-style: var(--text-wrap-style)
  }
}