.tablet.text-emphasis {
  --t-text-emphasis-color: currentcolor;
  --t-text-emphasis-position: over right;
  --t-text-emphasis-style: none;

  text-emphasis-color: var(--t-text-emphasis-color);
  text-emphasis-position: var(--t-text-emphasis-position);
  text-emphasis-style: var(--t-text-emphasis-style)
}