.tablet.text-emphasis {
  --text-emphasis-color: currentcolor;
  --text-emphasis-position: over right;
  --text-emphasis-style: none;

  text-emphasis-color: var(--text-emphasis-color);
  text-emphasis-position: var(--text-emphasis-position);
  text-emphasis-style: var(--text-emphasis-style)
}