@media screen and (min-width: 48rem) {
  .tablet.text-underline {
    --text-underline-offset: auto;
    text-underline-offset: var(--text-underline-offset);
    --text-underline-position: auto;
    text-underline-position: var(--text-underline-position)
  }
}