.tablet.text-underline {
  --t-text-underline-offset: auto;
  --t-text-underline-position: auto;

  text-underline-offset: var(--t-text-underline-offset);
  text-underline-position: var(--t-text-underline-position)
}