.tablet.text-decoration {
  --t-text-decoration-color: currentcolor;
  --t-text-decoration-line: none;
  --t-text-decoration-skip-ink: auto;
  --t-text-decoration-style: solid;
  --t-text-decoration-thickness: auto;

  text-decoration-color: var(--t-text-decoration-color);
  text-decoration-line: var(--t-text-decoration-line);
  text-decoration-skip-ink: var(--t-text-decoration-skip-ink);
  text-decoration-style: var(--t-text-decoration-style);
  text-decoration-thickness: var(--t-text-decoration-thickness)
}