.tablet.text {
  --t-color: currentcolor;
  --t-color-interpolation: srgb;
  --t-color-interpolation-filters: linearrgb;
  --t-hyphenate-character: auto;
  --t-hyphens: manual;
  --t-line-break: auto;
  --t-quotes: auto;
  --t-vertical-align: baseline;
  --t-white-space-collapse: preserve;
  --t-writing-mode: horizontal-tb;
  --t-text-align: start;
  --t-text-align-last: auto;
  --t-text-anchor: start;
  --t-text-combine-upright: none;
  --t-text-indent: 0;
  --t-text-orientation: mixed;
  --t-text-overflow: clip;
  --t-text-rendering: auto;
  --t-text-shadow: none;
  --t-text-transform: none;

  color: var(--t-color);
  color-interpolation: var(--t-color-interpolation);
  color-interpolation-filters: var(--t-color-interpolation-filters);
  hyphenate-character: var(--t-hyphenate-character);
  hyphens: var(--t-hyphens);
  line-break: var(--t-line-break);
  quotes: var(--t-quotes);
  vertical-align: var(--t-vertical-align);
  white-space-collapse: var(--t-white-space-collapse);
  writing-mode: var(--t-writing-mode);
  text-align: var(--t-text-align);
  text-align-last: var(--t-text-align-last);
  text-anchor: var(--t-text-anchor);
  text-combine-upright: var(--t-text-combine-upright);
  text-indent: var(--t-text-indent);
  text-orientation: var(--t-text-orientation);
  text-overflow: var(--t-text-overflow);
  text-rendering: var(--t-text-rendering);
  text-shadow: var(--t-text-shadow);
  text-transform: var(--t-text-transform)
}