@media screen and (min-width: 48rem) {
  .tablet.transform {
    --backface-visibility: visible;
    backface-visibility: var(--backface-visibility);
    --perspective: none;
    perspective: var(--perspective);
    --perspective-origin: 50% 50%;
    perspective-origin: var(--perspective-origin);
    --rotate: none;
    rotate: var(--rotate);
    --scale: 1;
    scale: var(--scale);
    --transform: none;
    transform: var(--transform);
    --transform-box: border-box;
    transform-box: var(--transform-box);
    --transform-origin: 50% 50% 0;
    transform-origin: var(--transform-origin);
    --transform-style: flat;
    transform-style: var(--transform-style);
    --translate: none;
    translate: var(--translate)
  }
}