.tablet.transition {
  --t-transition-behavior: auto;
  --t-transition-property: all;
  --t-transition-duration: 0s;
  --t-transition-timing-function: ease;
  --t-transition-delay: 0s;
  --t-transition: all 0s ease 0s;

  transition-behavior: var(--t-transition-behavior);
  transition: var(--t-transition, var(--t-transition-duration) var(--t-transition-timing-function) var(--t-transition-delay))
}