.tablet.transform {
  --backface-visibility: visible;
  --perspective: none;
  --perspective-origin: 50% 50%;
  --rotate: none;
  --scale: 1;
  --transform: none;
  --transform-box: border-box;
  --transform-origin: 50% 50% 0;
  --transform-style: flat;
  --translate: none;

  backface-visibility: var(--backface-visibility);
  perspective: var(--perspective);
  perspective-origin: var(--perspective-origin);
  rotate: var(--rotate);
  scale: var(--scale);
  transform: var(--transform);
  transform-box: var(--transform-box);
  transform-origin: var(--transform-origin);
  transform-style: var(--transform-style);
  translate: var(--translate)
}