.tablet.transform {
  --t-backface-visibility: visible;
  --t-perspective: none;
  --t-perspective-origin: 50% 50%;
  --t-rotate: none;
  --t-scale: 1;
  --t-transform: none;
  --t-transform-box: border-box;
  --t-transform-origin: 50% 50% 0;
  --t-transform-style: flat;
  --t-translate: none;

  backface-visibility: var(--t-backface-visibility);
  perspective: var(--t-perspective);
  perspective-origin: var(--t-perspective-origin);
  rotate: var(--t-rotate);
  scale: var(--t-scale);
  transform: var(--t-transform);
  transform-box: var(--t-transform-box);
  transform-origin: var(--t-transform-origin);
  transform-style: var(--t-transform-style);
  translate: var(--t-translate)
}