.tablet.typography {
  --t-font-feature-settings: normal;
  --t-font-kerning: auto;
  --t-font-optical-sizing: auto;
  --t-font-palette: normal;
  --t-font-size-adjust: none;
  --t-font-variant-alternates: normal;
  --t-font-variation-settings: normal;
  --t-letter-spacing: normal;
  --t-line-height: normal;
  --t-tab-size: 8;

  font-feature-settings: var(--t-font-feature-settings);
  font-kerning: var(--t-font-kerning);
  font-optical-sizing: var(--t-font-optical-sizing);
  font-palette: var(--t-font-palette);
  font-size-adjust: var(--t-font-size-adjust);
  font-variant-alternates: var(--t-font-variant-alternates);
  font-variation-settings: var(--t-font-variation-settings);
  letter-spacing: var(--t-letter-spacing);
  line-height: var(--t-line-height);
  tab-size: var(--t-tab-size)
}