.tablet.typography {
  --font-feature-settings: normal;
  --font-kerning: auto;
  --font-optical-sizing: auto;
  --font-palette: normal;
  --font-size-adjust: none;
  --font-variant-alternates: normal;
  --font-variation-settings: normal;
  --letter-spacing: normal;
  --line-height: normal;
  --tab-size: 8;

  font-feature-settings: var(--font-feature-settings);
  font-kerning: var(--font-kerning);
  font-optical-sizing: var(--font-optical-sizing);
  font-palette: var(--font-palette);
  font-size-adjust: var(--font-size-adjust);
  font-variant-alternates: var(--font-variant-alternates);
  font-variation-settings: var(--font-variation-settings);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  tab-size: var(--tab-size)
}