.tablet.visual-effect {
  --t-backdrop-filter: none;
  --t-filter: none;
  --t-isolation: auto;
  --t-mix-blend-mode: normal;
  --t-opacity: 1;

  backdrop-filter: var(--t-backdrop-filter);
  filter: var(--t-filter);
  isolation: var(--t-isolation);
  mix-blend-mode: var(--t-mix-blend-mode);
  opacity: var(--t-opacity)
}