@media screen and (min-width: 48rem) {
  .tablet.visual-effect {
    --backdrop-filter: none;
    backdrop-filter: var(--backdrop-filter);
    --filter: none;
    filter: var(--filter);
    --isolation: auto;
    isolation: var(--isolation);
    --mix-blend-mode: normal;
    mix-blend-mode: var(--mix-blend-mode);
    --opacity: 1;
    opacity: var(--opacity)
  }
}