.animation {
  --animation-name: none;
  --animation-duration: 0s;
  --animation-timing-function: ease;
  --animation-delay: 0s;
  --animation-iteration-count: 1;
  --animation-direction: normal;
  --animation-fill-mode: none;
  --animation-play-state: running;
  --animation: none;
  --animation-composition: replace;

  animation: var(--animation, var(--name var(--duration) var(--timing-function) var(--delay) var(--iteration-count) var(--direction) var(--fill-mode) var(--play-state)));
  animation-composition: var(--animation-composition)
}