.background {
--background-attachment: scroll;
background-attachment: var(--background-attachment);
--background-blend-mode: normal;
background-blend-mode: var(--background-blend-mode);
--background-clip: border-box;
background-clip: var(--background-clip);
--background-color: transparent;
background-color: var(--background-color);
--background-image: none;
background-image: var(--background-image);
--background-origin: padding-box;
background-origin: var(--background-origin);
--background-position-x: 0;
background-position-x: var(--background-position-x);
--background-position-y: 0;
background-position-y: var(--background-position-y);
--background-repeat: repeat;
background-repeat: var(--background-repeat);
--background-size: auto;
background-size: var(--background-size)
}