.border-right {
  --border-right-width: initial;
  --border-right-style: initial;
  --border-right-color: currentcolor;
  --borderRight: initial;

  border-right-border-right: var(--border-right-border-right, var(--width var(--style) var(--color)))
}