.border-left {
  --border-left-width: medium;
  --border-left-style: none;
  --border-left-color: currentcolor;
  --borderLeft: initial;

  border-left: var(--border-left, var(--width var(--style) var(--color)))
}