.border-inline-end {
  --border-inline-end-end-width: initial;
  --border-inline-end-end-style: initial;
  --border-inline-end-end-color: initial;
  --borderInlineEnd: initial;

  border-inline-end: var(--border-inline-end, var(--border-inline-end-end-style) var(--border-inline-end-end-color));
}