.column {
  --column-count: initial;
  --column-fill: black;
  --column-rule-color: initial;
  --column-rule-style: initial;
  --column-rule-width: initial;
  --column-span: initial;
  --column-width: initial;

  column-count: var(--column-count);
  column-fill: var(--column-fill);
  column-rule-color: var(--column-rule-color);
  column-rule-style: var(--column-rule-style);
  column-rule-width: var(--column-rule-width);
  column-span: var(--column-span);
  column-width: var(--column-width)
}