.content-flow {
--break-after: auto;
break-after: var(--break-after);
--break-before: auto;
break-before: var(--break-before);
--break-inside: auto;
break-inside: var(--break-inside);
--clear: none;
clear: var(--clear);
--direction: ltr;
direction: var(--direction);
--float: none;
float: var(--float);
--overflow-wrap: normal;
overflow-wrap: var(--overflow-wrap)
}