.content-flow {
  --break-after: auto;
  --break-before: auto;
  --break-inside: auto;
  --clear: none;
  --direction: ltr;
  --float: none;
  --overflow-wrap: normal;

  break-after: var(--break-after);
  break-before: var(--break-before);
  break-inside: var(--break-inside);
  clear: var(--clear);
  direction: var(--direction);
  float: var(--float);
  overflow-wrap: var(--overflow-wrap)
}