.contain {
  --contain: none;
  --contain-intrinsic-block-size: auto;
  --contain-intrinsic-height: auto;
  --contain-intrinsic-inline-size: auto;
  --contain-intrinsic-width: auto;

  contain: var(--contain);
  contain-intrinsic-block-size: var(--contain-intrinsic-block-size);
  contain-intrinsic-height: var(--contain-intrinsic-height);
  contain-intrinsic-inline-size: var(--contain-intrinsic-inline-size);
  contain-intrinsic-width: var(--contain-intrinsic-width)
}