.flex {
  --align-content: normal;
  --align-items: normal;
  --flex-direction: row;
  --flex-wrap: nowrap;
  --justify-content: normal;
  --justify-items: legacy;
  --order: 0;
  --flex-basis: auto;
  --flex-grow: 0;
  --flex-shrink: 1;
  --flex: 0 1 auto;

  align-content: var(--align-content);
  align-items: var(--align-items);
  flex-direction: var(--flex-direction);
  flex-wrap: var(--flex-wrap);
  justify-content: var(--justify-content);
  justify-items: var(--justify-items);
  order: var(--order);
  flex: var(--flex, var(--basis var(--grow) var(--shrink)))
}