.font {
  --font-style: normal;
  --font-variant: initial;
  --font-weight: 400;
  --font-stretch: normal;
  --font-size: 16;
  --font-line-height: initial;
  --font-family: serif;
  --font: 16px sans-serif;

  font: var(--font, var(--style var(--variant) var(--weight) var(--stretch) var(--size) var(--line-height) var(--family)))
}