.interaction {
  --caret-color: auto;
  --pointer-events: auto;
  --resize: none;
  --scroll-behavior: auto;
  --touch-action: auto;
  --user-select: auto;

  caret-color: var(--caret-color);
  pointer-events: var(--pointer-events);
  resize: var(--resize);
  scroll-behavior: var(--scroll-behavior);
  touch-action: var(--touch-action);
  user-select: var(--user-select)
}