.list {
  --counter-increment: none;
  --counter-reset: none;
  --counter-set: none;
  --list-style-image: none;
  --list-style-position: outside;
  --list-style-type: disc;

  counter-increment: var(--counter-increment);
  counter-reset: var(--counter-reset);
  counter-set: var(--counter-set);
  list-style-image: var(--list-style-image);
  list-style-position: var(--list-style-position);
  list-style-type: var(--list-style-type)
}