.mask {
  --mask-image: none;
  --mask-position-x: initial;
  --mask-position-y: initial;
  --mask-size: auto;
  --mask-repeat: no-repeat;
  --mask-origin: border-box;
  --mask-clip: border-box;
  --mask-mode: match-source;
  --mask: none;

  mask: var(--mask, var(--mask-position-x) var(--mask-position-y) var(--mask-size) var(--mask-repeat) var(--mask-origin) var(--mask-clip) var(--mask-mode))
}