.offset {
--offset-anchor: auto;
offset-anchor: var(--offset-anchor);
--offset-distance: 0;
offset-distance: var(--offset-distance);
--offset-path: none;
offset-path: var(--offset-path);
--offset-position: auto;
offset-position: var(--offset-position);
--offset-rotate: auto;
offset-rotate: var(--offset-rotate)
}