.padding-inline {
  --padding-inline-start: initial;
  --padding-inline-end: initial;
  --paddingInline: initial;

  padding-inline-padding-inline: var(--padding-inline-padding-inline, var(--start var(--end)))
}