.scroll-margin-block {
  --scroll-margin-block-start: initial;
  --scroll-margin-block-end: initial;
  --scrollMarginBlock: initial;

  scroll-margin-block-scroll-margin-block: var(--scroll-margin-block-scroll-margin-block, var(--start var(--end)))
}