.scroll-margin {
  --scroll-margin-top: auto;
  --scroll-margin-right: auto;
  --scroll-margin-bottom: auto;
  --scroll-margin-left: auto;
  --scrollMargin: initial;

  scroll-margin: var(--scroll-margin, var(--top var(--right) var(--bottom) var(--left)))
}