.scroll-snap {
  --scroll-snap-align: initial;
  --scroll-snap-stop: initial;
  --scroll-snap-type: initial;

  scroll-snap-align: var(--scroll-snap-align);
  scroll-snap-stop: var(--scroll-snap-stop);
  scroll-snap-type: var(--scroll-snap-type)
}