.scroll-margin-inline {
  --scroll-margin-inline-start: 0;
  --scroll-margin-inline-end: 0;
  --scrollMarginInline: initial;

  scroll-margin-inline: var(--scroll-margin-inline, var(--scroll-margin-inline-end));
}