.shape {
  --shape-image-threshold: 0;
  --shape-margin: 0;
  --shape-outside: none;
  --shape-rendering: auto;

  shape-image-threshold: var(--shape-image-threshold);
  shape-margin: var(--shape-margin);
  shape-outside: var(--shape-outside);
  shape-rendering: var(--shape-rendering)
}