.svg {
  --dominant-baseline: auto;
  --fill: black;
  --fill-opacity: 1;
  --fill-rule: nonzero;
  --flood-color: black;
  --flood-opacity: 1;
  --lighting-color: white;
  --paint-order: normal;
  --stop-color: black;
  --stop-opacity: 1;
  --stroke: none;
  --stroke-dasharray: none;
  --stroke-dashoffset: 0;
  --stroke-linecap: butt;
  --stroke-linejoin: miter;
  --stroke-miterlimit: 4;
  --stroke-opacity: 1;
  --stroke-width: 1;
  --vector-effect: none;

  dominant-baseline: var(--dominant-baseline);
  fill: var(--fill);
  fill-opacity: var(--fill-opacity);
  fill-rule: var(--fill-rule);
  flood-color: var(--flood-color);
  flood-opacity: var(--flood-opacity);
  lighting-color: var(--lighting-color);
  paint-order: var(--paint-order);
  stop-color: var(--stop-color);
  stop-opacity: var(--stop-opacity);
  stroke: var(--stroke);
  stroke-dasharray: var(--stroke-dasharray);
  stroke-dashoffset: var(--stroke-dashoffset);
  stroke-linecap: var(--stroke-linecap);
  stroke-linejoin: var(--stroke-linejoin);
  stroke-miterlimit: var(--stroke-miterlimit);
  stroke-opacity: var(--stroke-opacity);
  stroke-width: var(--stroke-width);
  vector-effect: var(--vector-effect)
}