.text {
--color: currentcolor;
color: var(--color);
--color-interpolation: srgb;
color-interpolation: var(--color-interpolation);
--color-interpolation-filters: linearrgb;
color-interpolation-filters: var(--color-interpolation-filters);
--hyphenate-character: auto;
hyphenate-character: var(--hyphenate-character);
--hyphens: manual;
hyphens: var(--hyphens);
--line-break: auto;
line-break: var(--line-break);
--quotes: auto;
quotes: var(--quotes);
--vertical-align: baseline;
vertical-align: var(--vertical-align);
--white-space-collapse: preserve;
white-space-collapse: var(--white-space-collapse);
--writing-mode: horizontal-tb;
writing-mode: var(--writing-mode);
--text-align: start;
text-align: var(--text-align);
--text-align-last: auto;
text-align-last: var(--text-align-last);
--text-anchor: start;
text-anchor: var(--text-anchor);
--text-combine-upright: none;
text-combine-upright: var(--text-combine-upright);
--text-indent: 0;
text-indent: var(--text-indent);
--text-orientation: mixed;
text-orientation: var(--text-orientation);
--text-overflow: clip;
text-overflow: var(--text-overflow);
--text-rendering: auto;
text-rendering: var(--text-rendering);
--text-shadow: none;
text-shadow: var(--text-shadow);
--text-transform: none;
text-transform: var(--text-transform)
}