.text-underline {
  --text-underline-offset: auto;
  --text-underline-position: auto;

  text-underline-offset: var(--text-underline-offset);
  text-underline-position: var(--text-underline-position)
}