.text-underline {
  --text-underline-offset: initial;
  --text-underline-position: static;

  text-underline-offset: var(--text-underline-offset);
  text-underline-position: var(--text-underline-position)
}