.transition {
  --transition-behavior: auto;
  --transition-property: initial;
  --transition-duration: initial;
  --transition-timing-function: initial;
  --transition-delay: initial;
  --transition: initial;

  transition-behavior: var(--transition-behavior);
  transition-transition: var(--transition-transition, var(--property var(--duration) var(--timing-function) var(--delay)))
}