.visual-effect {
  --backdrop-filter: none;
  --filter: none;
  --isolation: auto;
  --mix-blend-mode: normal;
  --opacity: 1;

  backdrop-filter: var(--backdrop-filter);
  filter: var(--filter);
  isolation: var(--isolation);
  mix-blend-mode: var(--mix-blend-mode);
  opacity: var(--opacity)
}