.desktop.animation {
  --d-animation-name: none;
  --d-animation-duration: 0s;
  --d-animation-timing-function: ease;
  --d-animation-delay: 0s;
  --d-animation-iteration-count: 1;
  --d-animation-direction: normal;
  --d-animation-fill-mode: none;
  --d-animation-play-state: running;
  --d-animation-composition: replace;
  --d-animation: none;

  animation: var(--d-animation, var(--d-animation-duration) var(--d-animation-timing-function) var(--d-animation-delay) var(--d-animation-iteration-count) var(--d-animation-direction) var(--d-animation-fill-mode) var(--d-animation-play-state) var(--d-animation-composition))
}