.desktop.background {
  --d-background-color: transparent;
  --d-background-image: none;
  --d-background-position-x: 0;
  --d-background-position-y: 0;
  --d-background-size: auto;
  --d-background-repeat: repeat;
  --d-background-attachment: scroll;
  --d-background-origin: padding-box;
  --d-background-clip: border-box;
  --d-background-blend-mode: normal;
  --d-background: transparent;

  background: var(--d-background, var(--d-background-image) var(--d-background-position-x) var(--d-background-position-y) var(--d-background-size) var(--d-background-repeat) var(--d-background-attachment) var(--d-background-origin) var(--d-background-clip) var(--d-background-blend-mode))
}