.desktop.border-bottom {
  --d-border-bottom-width: medium;
  --d-border-bottom-style: none;
  --d-border-bottom-color: currentcolor;
  --d-borderBottom: initial;
  --d-border-bottom-left-radius: 0;
  --d-border-bottom-right-radius: 0;

  border-bottom: var(--d-border-bottom, var(--d-border-bottom-style) var(--d-border-bottom-color));
  border-bottom-left-radius: var(--d-border-bottom-left-radius);
  border-bottom-right-radius: var(--d-border-bottom-right-radius)
}