.desktop.border-image {
  --border-image-source: none;
  --border-image-slice: 100%;
  --border-image-width: 1;
  --border-image-outset: 0;
  --border-image-repeat: stretch;
  --borderImage: initial;

  border-image: var(--border-image, var(--source var(--slice) var(--width) var(--outset) var(--repeat)))
}