.desktop.border-inline-start {
  --d-border-inline-start-start-width: initial;
  --d-border-inline-start-start-style: initial;
  --d-border-inline-start-start-color: initial;
  --d-borderInlineStart: initial;

  border-inline-start: var(--d-border-inline-start, var(--d-border-inline-start-start-style) var(--d-border-inline-start-start-color))
}