.desktop.border-right {
  --d-border-right-width: medium;
  --d-border-right-style: none;
  --d-border-right-color: currentcolor;
  --d-borderRight: initial;

  border-right: var(--d-border-right, var(--d-border-right-style) var(--d-border-right-color))
}