.desktop.border-end {
  --border-end-end-radius: initial;
  --border-end-start-radius: initial;

  border-end-end-radius: var(--border-end-end-radius);
  border-end-start-radius: var(--border-end-start-radius)
}