.desktop.border-bottom {
  --border-bottom-width: medium;
  --border-bottom-style: none;
  --border-bottom-color: currentcolor;
  --borderBottom: initial;
  --border-bottom-left-radius: 0;
  --border-bottom-right-radius: 0;

  border-bottom: var(--border-bottom, var(--border-bottom-style) var(--border-bottom-color));
  border-bottom-left-radius: var(--border-bottom-left-radius);
  border-bottom-right-radius: var(--border-bottom-right-radius)
}