.desktop.border-block-start {
  --border-block-start-start-width: initial;
  --border-block-start-start-style: initial;
  --border-block-start-start-color: initial;
  --borderBlockStart: initial;

  border-block-start: var(--border-block-start, var(--border-block-start-start-style) var(--border-block-start-start-color))
}