.desktop.border-block-end {
  --d-border-block-end-end-width: initial;
  --d-border-block-end-end-style: initial;
  --d-border-block-end-end-color: initial;
  --d-borderBlockEnd: initial;

  border-block-end: var(--d-border-block-end, var(--d-border-block-end-end-style) var(--d-border-block-end-end-color))
}