.desktop.border-block-start {
  --d-border-block-start-start-width: initial;
  --d-border-block-start-start-style: initial;
  --d-border-block-start-start-color: initial;
  --d-borderBlockStart: initial;

  border-block-start: var(--d-border-block-start, var(--d-border-block-start-start-style) var(--d-border-block-start-start-color))
}