.desktop.border-image {
  --d-border-image-source: none;
  --d-border-image-slice: 100%;
  --d-border-image-width: 1;
  --d-border-image-outset: 0;
  --d-border-image-repeat: stretch;
  --d-borderImage: initial;

  border-image: var(--d-border-image, var(--d-border-image-slice) var(--d-border-image-width) var(--d-border-image-outset) var(--d-border-image-repeat))
}