.desktop.border-top {
  --d-border-top-width: medium;
  --d-border-top-style: none;
  --d-border-top-color: currentcolor;
  --d-borderTop: initial;
  --d-border-top-left-radius: 0;
  --d-border-top-right-radius: 0;

  border-top: var(--d-border-top, var(--d-border-top-style) var(--d-border-top-color));
  border-top-left-radius: var(--d-border-top-left-radius);
  border-top-right-radius: var(--d-border-top-right-radius)
}