.desktop.border-inline-end {
  --border-inline-end-end-width: initial;
  --border-inline-end-end-style: initial;
  --border-inline-end-end-color: initial;
  --borderInlineEnd: initial;

  border-inline-end-border-inline-end: var(--border-inline-end-border-inline-end, var(--end-width var(--end-style) var(--end-color)))
}