.desktop.border {
  --d-border-width: initial;
  --d-border-style: initial;
  --d-border-color: initial;
  --d-border: medium none currentcolor;

  border: var(--d-border, var(--d-border-style) var(--d-border-color))
}