.desktop.border-left {
  --d-border-left-width: medium;
  --d-border-left-style: none;
  --d-border-left-color: currentcolor;
  --d-borderLeft: initial;

  border-left: var(--d-border-left, var(--d-border-left-style) var(--d-border-left-color))
}