.desktop.border-inline-end {
  --d-border-inline-end-end-width: initial;
  --d-border-inline-end-end-style: initial;
  --d-border-inline-end-end-color: initial;
  --d-borderInlineEnd: initial;

  border-inline-end: var(--d-border-inline-end, var(--d-border-inline-end-end-style) var(--d-border-inline-end-end-color))
}