.desktop.border-start {
  --d-border-start-end-radius: 0;
  --d-border-start-start-radius: 0;

  border-start-end-radius: var(--d-border-start-end-radius);
  border-start-start-radius: var(--d-border-start-start-radius)
}