.desktop.border-end {
  --d-border-end-end-radius: 0;
  --d-border-end-start-radius: 0;

  border-end-end-radius: var(--d-border-end-end-radius);
  border-end-start-radius: var(--d-border-end-start-radius)
}