.desktop.box {
  --aspect-ratio: auto;
  --block-size: auto;
  --box-sizing: content-box;
  --inline-size: auto;
  --zoom: auto;

  aspect-ratio: var(--aspect-ratio);
  block-size: var(--block-size);
  box-sizing: var(--box-sizing);
  inline-size: var(--inline-size);
  zoom: var(--zoom)
}