.desktop.box {
  --d-aspect-ratio: auto;
  --d-block-size: auto;
  --d-box-sizing: content-box;
  --d-inline-size: auto;
  --d-zoom: auto;

  aspect-ratio: var(--d-aspect-ratio);
  block-size: var(--d-block-size);
  box-sizing: var(--d-box-sizing);
  inline-size: var(--d-inline-size);
  zoom: var(--d-zoom)
}