.desktop.column {
  --d-column-count: auto;
  --d-column-fill: balance;
  --d-column-rule-color: currentcolor;
  --d-column-rule-style: none;
  --d-column-rule-width: medium;
  --d-column-span: none;
  --d-column-width: auto;

  column-count: var(--d-column-count);
  column-fill: var(--d-column-fill);
  column-rule-color: var(--d-column-rule-color);
  column-rule-style: var(--d-column-rule-style);
  column-rule-width: var(--d-column-rule-width);
  column-span: var(--d-column-span);
  column-width: var(--d-column-width)
}