.desktop.contain {
  --d-contain: none;
  --d-contain-intrinsic-block-size: auto;
  --d-contain-intrinsic-height: auto;
  --d-contain-intrinsic-inline-size: auto;
  --d-contain-intrinsic-width: auto;

  contain: var(--d-contain);
  contain-intrinsic-block-size: var(--d-contain-intrinsic-block-size);
  contain-intrinsic-height: var(--d-contain-intrinsic-height);
  contain-intrinsic-inline-size: var(--d-contain-intrinsic-inline-size);
  contain-intrinsic-width: var(--d-contain-intrinsic-width)
}