@media screen and (min-width: 80rem) {
  .desktop.content {
    --content: normal;
    content: var(--content);
    --content-visibility: visible;
    content-visibility: var(--content-visibility)
  }
}