.desktop.content-flow {
  --d-break-after: auto;
  --d-break-before: auto;
  --d-break-inside: auto;
  --d-clear: none;
  --d-direction: ltr;
  --d-float: none;
  --d-overflow-wrap: normal;

  break-after: var(--d-break-after);
  break-before: var(--d-break-before);
  break-inside: var(--d-break-inside);
  clear: var(--d-clear);
  direction: var(--d-direction);
  float: var(--d-float);
  overflow-wrap: var(--d-overflow-wrap)
}