.desktop.flex {
  --d-align-content: normal;
  --d-align-items: normal;
  --d-flex-direction: row;
  --d-flex-wrap: nowrap;
  --d-justify-content: normal;
  --d-justify-items: legacy;
  --d-order: 0;
  --d-flex-grow: 0;
  --d-flex-shrink: 1;
  --d-flex-basis: auto;
  --d-flex: 0 1 auto;

  align-content: var(--d-align-content);
  align-items: var(--d-align-items);
  flex-direction: var(--d-flex-direction);
  flex-wrap: var(--d-flex-wrap);
  justify-content: var(--d-justify-content);
  justify-items: var(--d-justify-items);
  order: var(--d-order);
  flex: var(--d-flex, var(--d-flex-shrink) var(--d-flex-basis))
}