.desktop.font-synthesis {
  --font-synthesis-weight: auto;
  --font-synthesis-style: auto;
  --font-synthesis-small-caps: auto;

  font-synthesis-weight: var(--font-synthesis-weight);
  font-synthesis-style: var(--font-synthesis-style);
  font-synthesis-small-caps: var(--font-synthesis-small-caps)
}