.desktop.font-synthesis {
  --d-font-synthesis-weight: auto;
  --d-font-synthesis-style: auto;
  --d-font-synthesis-small-caps: auto;

  font-synthesis-weight: var(--d-font-synthesis-weight);
  font-synthesis-style: var(--d-font-synthesis-style);
  font-synthesis-small-caps: var(--d-font-synthesis-small-caps)
}