.desktop.font-synthesis {
  --font-synthesis-weight: initial;
  --font-synthesis-style: initial;
  --font-synthesis-small-caps: initial;

  font-synthesis-weight: var(--font-synthesis-weight);
  font-synthesis-style: var(--font-synthesis-style);
  font-synthesis-small-caps: var(--font-synthesis-small-caps)
}