.desktop.font {
  --d-font-style: normal;
  --d-font-variant: initial;
  --d-font-weight: 400;
  --d-font-stretch: normal;
  --d-font-size: 16;
  --d-font-line-height: initial;
  --d-font-family: serif;
  --d-font: 1rem sans-serif;

  font: var(--d-font, var(--d-font-variant) var(--d-font-weight) var(--d-font-stretch) var(--d-font-size) var(--d-font-line-height) var(--d-font-family))
}