.desktop.grid {
  --d-grid-auto-columns: auto;
  --d-grid-auto-flow: row;
  --d-grid-auto-rows: auto;
  --d-grid-column-start: auto;
  --d-grid-column-end: auto;
  --d-grid-row-start: auto;
  --d-grid-row-end: auto;
  --d-grid-template-areas: none;
  --d-grid-template-columns: none;
  --d-grid-template-rows: none;

  grid-auto-columns: var(--d-grid-auto-columns);
  grid-auto-flow: var(--d-grid-auto-flow);
  grid-auto-rows: var(--d-grid-auto-rows);
  grid-column-start: var(--d-grid-column-start);
  grid-column-end: var(--d-grid-column-end);
  grid-row-start: var(--d-grid-row-start);
  grid-row-end: var(--d-grid-row-end);
  grid-template-areas: var(--d-grid-template-areas);
  grid-template-columns: var(--d-grid-template-columns);
  grid-template-rows: var(--d-grid-template-rows)
}