.desktop.interaction {
  --d-caret-color: auto;
  --d-pointer-events: auto;
  --d-resize: none;
  --d-scroll-behavior: auto;
  --d-touch-action: auto;
  --d-user-select: auto;

  caret-color: var(--d-caret-color);
  pointer-events: var(--d-pointer-events);
  resize: var(--d-resize);
  scroll-behavior: var(--d-scroll-behavior);
  touch-action: var(--d-touch-action);
  user-select: var(--d-user-select)
}