.desktop.margin-inline {
  --margin-inline-start: initial;
  --margin-inline-end: initial;
  --marginInline: initial;

  margin-inline-margin-inline: var(--margin-inline-margin-inline, var(--start var(--end)))
}