.desktop.margin {
  --d-margin-top: 0;
  --d-margin-right: 0;
  --d-margin-bottom: 0;
  --d-margin-left: 0;
  --d-margin: 0;

  margin: var(--d-margin, var(--d-margin-right) var(--d-margin-bottom) var(--d-margin-left))
}