@media screen and (min-width: 80rem) {
  .desktop.margin-block {
    --margin-block-start: 0;
    margin-block-start: var(--margin-block-start);
    --margin-block-end: 0;
    margin-block-end: var(--margin-block-end)
  }
}