.desktop.margin {
  --margin-top: auto;
  --margin-right: auto;
  --margin-bottom: auto;
  --margin-left: auto;
  --margin: initial;

  margin-margin: var(--margin-margin, var(--top var(--right) var(--bottom) var(--left)))
}