.desktop.margin {
  --margin-top: 0;
  --margin-right: 0;
  --margin-bottom: 0;
  --margin-left: 0;
  --margin: 0;

  margin: var(--margin, var(--margin-right) var(--margin-bottom) var(--margin-left))
}