.desktop.marker {
  --d-marker-end: none;
  --d-marker-mid: none;
  --d-marker-start: none;

  marker-end: var(--d-marker-end);
  marker-mid: var(--d-marker-mid);
  marker-start: var(--d-marker-start)
}