.desktop.mask {
  --d-mask-image: none;
  --d-mask-position-x: initial;
  --d-mask-position-y: initial;
  --d-mask-size: auto;
  --d-mask-repeat: no-repeat;
  --d-mask-origin: border-box;
  --d-mask-clip: border-box;
  --d-mask-mode: match-source;
  --d-mask: none;

  mask: var(--d-mask, var(--d-mask-position-x) var(--d-mask-position-y) var(--d-mask-size) var(--d-mask-repeat) var(--d-mask-origin) var(--d-mask-clip) var(--d-mask-mode))
}