.desktop.masking {
  --clip: auto;
  --clip-path: none;
  --clip-rule: nonzero;
  --mask-composite: add;
  --mask-type: luminance;

  clip: var(--clip);
  clip-path: var(--clip-path);
  clip-rule: var(--clip-rule);
  mask-composite: var(--mask-composite);
  mask-type: var(--mask-type)
}