.desktop.masking {
  --d-clip: auto;
  --d-clip-path: none;
  --d-clip-rule: nonzero;
  --d-mask-composite: add;
  --d-mask-type: luminance;

  clip: var(--d-clip);
  clip-path: var(--d-clip-path);
  clip-rule: var(--d-clip-rule);
  mask-composite: var(--d-mask-composite);
  mask-type: var(--d-mask-type)
}