.desktop.offset {
  --offset-anchor: initial;
  --offset-distance: initial;
  --offset-path: initial;
  --offset-position: static;
  --offset-rotate: none;

  offset-anchor: var(--offset-anchor);
  offset-distance: var(--offset-distance);
  offset-path: var(--offset-path);
  offset-position: var(--offset-position);
  offset-rotate: var(--offset-rotate)
}