.desktop.offset {
  --d-offset-anchor: auto;
  --d-offset-distance: 0;
  --d-offset-path: none;
  --d-offset-position: auto;
  --d-offset-rotate: auto;

  offset-anchor: var(--d-offset-anchor);
  offset-distance: var(--d-offset-distance);
  offset-path: var(--d-offset-path);
  offset-position: var(--d-offset-position);
  offset-rotate: var(--d-offset-rotate)
}