.desktop.outline {
  --outline-offset: 0;
  --outline-width: medium;
  --outline-style: none;
  --outline-color: invert;
  --outline: invert;

  outline-offset: var(--outline-offset);
  outline: var(--outline, var(--outline-style) var(--outline-color))
}