.desktop.outline {
  --d-outline-offset: 0;
  --d-outline-width: medium;
  --d-outline-style: none;
  --d-outline-color: invert;
  --d-outline: invert;

  outline-offset: var(--d-outline-offset);
  outline: var(--d-outline, var(--d-outline-style) var(--d-outline-color))
}