.desktop.overscroll-behavior {
  --d-overscroll-behavior-block: auto;
  --d-overscroll-behavior-inline: auto;
  --d-overscroll-behavior-x: auto;
  --d-overscroll-behavior-y: auto;

  overscroll-behavior-block: var(--d-overscroll-behavior-block);
  overscroll-behavior-inline: var(--d-overscroll-behavior-inline);
  overscroll-behavior-x: var(--d-overscroll-behavior-x);
  overscroll-behavior-y: var(--d-overscroll-behavior-y)
}