.desktop.padding {
  --d-padding-top: 0;
  --d-padding-right: 0;
  --d-padding-bottom: 0;
  --d-padding-left: 0;
  --d-padding: 0;

  padding: var(--d-padding, var(--d-padding-right) var(--d-padding-bottom) var(--d-padding-left))
}