.desktop.page-break {
  --page-break-after: auto;
  --page-break-before: auto;
  --page-break-inside: auto;

  page-break-after: var(--page-break-after);
  page-break-before: var(--page-break-before);
  page-break-inside: var(--page-break-inside)
}