.desktop.page-break {
  --d-page-break-after: auto;
  --d-page-break-before: auto;
  --d-page-break-inside: auto;

  page-break-after: var(--d-page-break-after);
  page-break-before: var(--d-page-break-before);
  page-break-inside: var(--d-page-break-inside)
}