.desktop.page-break {
  --page-break-after: initial;
  --page-break-before: initial;
  --page-break-inside: initial;

  page-break-after: var(--page-break-after);
  page-break-before: var(--page-break-before);
  page-break-inside: var(--page-break-inside)
}