.desktop.place {
  --d-place-items: normal;
  --d-place-content: normal;
  --d-place-self: auto;

  place-items: var(--d-place-items);
  place-content: var(--d-place-content);
  place-self: var(--d-place-self)
}