.desktop.position {
  --bottom: auto;
  --inset: auto;
  --left: auto;
  --position: static;
  --right: auto;
  --top: auto;
  --z-index: auto;

  bottom: var(--bottom);
  inset: var(--inset);
  left: var(--left);
  position: var(--position);
  right: var(--right);
  top: var(--top);
  z-index: var(--z-index)
}