.desktop.position {
  --d-bottom: auto;
  --d-left: auto;
  --d-position: static;
  --d-right: auto;
  --d-top: auto;
  --d-z-index: auto;

  bottom: var(--d-bottom);
  left: var(--d-left);
  position: var(--d-position);
  right: var(--d-right);
  top: var(--d-top);
  z-index: var(--d-z-index)
}