.desktop.scroll-padding-block {
  --d-scroll-padding-block-start: 0;
  --d-scroll-padding-block-end: 0;

  scroll-padding-block-start: var(--d-scroll-padding-block-start);
  scroll-padding-block-end: var(--d-scroll-padding-block-end)
}