.desktop.scroll-padding {
  --scroll-padding-top: auto;
  --scroll-padding-right: auto;
  --scroll-padding-bottom: auto;
  --scroll-padding-left: auto;
  --scrollPadding: initial;

  scroll-padding: var(--scroll-padding, var(--top var(--right) var(--bottom) var(--left)))
}