@media screen and (min-width: 80rem) {
  .desktop.scroll-margin-inline {
    --scroll-margin-inline-start: 0;
    scroll-margin-inline-start: var(--scroll-margin-inline-start);
    --scroll-margin-inline-end: 0;
    scroll-margin-inline-end: var(--scroll-margin-inline-end)
  }
}