.desktop.scroll-padding-inline {
  --d-scroll-padding-inline-start: 0;
  --d-scroll-padding-inline-end: 0;

  scroll-padding-inline-start: var(--d-scroll-padding-inline-start);
  scroll-padding-inline-end: var(--d-scroll-padding-inline-end)
}