.desktop.scroll-snap {
  --d-scroll-snap-align: none;
  --d-scroll-snap-stop: normal;
  --d-scroll-snap-type: none;

  scroll-snap-align: var(--d-scroll-snap-align);
  scroll-snap-stop: var(--d-scroll-snap-stop);
  scroll-snap-type: var(--d-scroll-snap-type)
}