.desktop.scroll-margin {
  --scroll-margin-top: 0;
  --scroll-margin-right: 0;
  --scroll-margin-bottom: 0;
  --scroll-margin-left: 0;
  --scrollMargin: 0;

  scroll-margin: var(--scroll-margin, var(--scroll-margin-right) var(--scroll-margin-bottom) var(--scroll-margin-left))
}