.desktop.scroll-padding-inline {
  --scroll-padding-inline-start: initial;
  --scroll-padding-inline-end: initial;

  scroll-padding-inline-start: var(--scroll-padding-inline-start);
  scroll-padding-inline-end: var(--scroll-padding-inline-end)
}