.desktop.scroll-margin-inline {
  --d-scroll-margin-inline-start: 0;
  --d-scroll-margin-inline-end: 0;
  --d-scrollMarginInline: initial;

  scroll-margin-inline: var(--d-scroll-margin-inline, var(--d-scroll-margin-inline-end))
}