.desktop.scroll-margin {
  --d-scroll-margin-top: 0;
  --d-scroll-margin-right: 0;
  --d-scroll-margin-bottom: 0;
  --d-scroll-margin-left: 0;
  --d-scrollMargin: 0;

  scroll-margin: var(--d-scroll-margin, var(--d-scroll-margin-right) var(--d-scroll-margin-bottom) var(--d-scroll-margin-left))
}