.desktop.scroll-padding {
  --d-scroll-padding-top: 0;
  --d-scroll-padding-right: 0;
  --d-scroll-padding-bottom: 0;
  --d-scroll-padding-left: 0;
  --d-scrollPadding: 0;

  scroll-padding: var(--d-scroll-padding, var(--d-scroll-padding-right) var(--d-scroll-padding-bottom) var(--d-scroll-padding-left))
}