.desktop.shape {
  --shape-image-threshold: initial;
  --shape-margin: initial;
  --shape-outside: initial;
  --shape-rendering: initial;

  shape-image-threshold: var(--shape-image-threshold);
  shape-margin: var(--shape-margin);
  shape-outside: var(--shape-outside);
  shape-rendering: var(--shape-rendering)
}