.desktop.shape {
  --d-shape-image-threshold: 0;
  --d-shape-margin: 0;
  --d-shape-outside: none;
  --d-shape-rendering: auto;

  shape-image-threshold: var(--d-shape-image-threshold);
  shape-margin: var(--d-shape-margin);
  shape-outside: var(--d-shape-outside);
  shape-rendering: var(--d-shape-rendering)
}