@media screen and (min-width: 80rem) {
  .desktop.svg {
    --dominant-baseline: auto;
    dominant-baseline: var(--dominant-baseline);
    --fill: black;
    fill: var(--fill);
    --fill-opacity: 1;
    fill-opacity: var(--fill-opacity);
    --fill-rule: nonzero;
    fill-rule: var(--fill-rule);
    --flood-color: black;
    flood-color: var(--flood-color);
    --flood-opacity: 1;
    flood-opacity: var(--flood-opacity);
    --lighting-color: white;
    lighting-color: var(--lighting-color);
    --paint-order: normal;
    paint-order: var(--paint-order);
    --stop-color: black;
    stop-color: var(--stop-color);
    --stop-opacity: 1;
    stop-opacity: var(--stop-opacity);
    --stroke: none;
    stroke: var(--stroke);
    --stroke-dasharray: none;
    stroke-dasharray: var(--stroke-dasharray);
    --stroke-dashoffset: initial;
    stroke-dashoffset: var(--stroke-dashoffset);
    --stroke-linecap: butt;
    stroke-linecap: var(--stroke-linecap);
    --stroke-linejoin: miter;
    stroke-linejoin: var(--stroke-linejoin);
    --stroke-miterlimit: 4;
    stroke-miterlimit: var(--stroke-miterlimit);
    --stroke-opacity: 1;
    stroke-opacity: var(--stroke-opacity);
    --stroke-width: 1;
    stroke-width: var(--stroke-width);
    --vector-effect: none;
    vector-effect: var(--vector-effect)
  }
}