.desktop.svg {
  --d-dominant-baseline: auto;
  --d-fill: black;
  --d-fill-opacity: 1;
  --d-fill-rule: nonzero;
  --d-flood-color: black;
  --d-flood-opacity: 1;
  --d-lighting-color: white;
  --d-paint-order: normal;
  --d-stop-color: black;
  --d-stop-opacity: 1;
  --d-stroke: none;
  --d-stroke-dasharray: none;
  --d-stroke-dashoffset: 0;
  --d-stroke-linecap: butt;
  --d-stroke-linejoin: miter;
  --d-stroke-miterlimit: 4;
  --d-stroke-opacity: 1;
  --d-stroke-width: 1;
  --d-vector-effect: none;

  dominant-baseline: var(--d-dominant-baseline);
  fill: var(--d-fill);
  fill-opacity: var(--d-fill-opacity);
  fill-rule: var(--d-fill-rule);
  flood-color: var(--d-flood-color);
  flood-opacity: var(--d-flood-opacity);
  lighting-color: var(--d-lighting-color);
  paint-order: var(--d-paint-order);
  stop-color: var(--d-stop-color);
  stop-opacity: var(--d-stop-opacity);
  stroke: var(--d-stroke);
  stroke-dasharray: var(--d-stroke-dasharray);
  stroke-dashoffset: var(--d-stroke-dashoffset);
  stroke-linecap: var(--d-stroke-linecap);
  stroke-linejoin: var(--d-stroke-linejoin);
  stroke-miterlimit: var(--d-stroke-miterlimit);
  stroke-opacity: var(--d-stroke-opacity);
  stroke-width: var(--d-stroke-width);
  vector-effect: var(--d-vector-effect)
}