.desktop.text {
  --d-color: currentcolor;
  --d-color-interpolation: srgb;
  --d-color-interpolation-filters: linearrgb;
  --d-hyphenate-character: auto;
  --d-hyphens: manual;
  --d-line-break: auto;
  --d-quotes: auto;
  --d-vertical-align: baseline;
  --d-white-space-collapse: preserve;
  --d-writing-mode: horizontal-tb;
  --d-text-align: start;
  --d-text-align-last: auto;
  --d-text-anchor: start;
  --d-text-combine-upright: none;
  --d-text-indent: 0;
  --d-text-orientation: mixed;
  --d-text-overflow: clip;
  --d-text-rendering: auto;
  --d-text-shadow: none;
  --d-text-transform: none;

  color: var(--d-color);
  color-interpolation: var(--d-color-interpolation);
  color-interpolation-filters: var(--d-color-interpolation-filters);
  hyphenate-character: var(--d-hyphenate-character);
  hyphens: var(--d-hyphens);
  line-break: var(--d-line-break);
  quotes: var(--d-quotes);
  vertical-align: var(--d-vertical-align);
  white-space-collapse: var(--d-white-space-collapse);
  writing-mode: var(--d-writing-mode);
  text-align: var(--d-text-align);
  text-align-last: var(--d-text-align-last);
  text-anchor: var(--d-text-anchor);
  text-combine-upright: var(--d-text-combine-upright);
  text-indent: var(--d-text-indent);
  text-orientation: var(--d-text-orientation);
  text-overflow: var(--d-text-overflow);
  text-rendering: var(--d-text-rendering);
  text-shadow: var(--d-text-shadow);
  text-transform: var(--d-text-transform)
}