.desktop.text-underline {
  --d-text-underline-offset: auto;
  --d-text-underline-position: auto;

  text-underline-offset: var(--d-text-underline-offset);
  text-underline-position: var(--d-text-underline-position)
}