.desktop.text {
  --color: currentcolor;
  --color-interpolation: srgb;
  --color-interpolation-filters: linearrgb;
  --hyphenate-character: auto;
  --hyphens: manual;
  --line-break: auto;
  --quotes: auto;
  --vertical-align: baseline;
  --white-space-collapse: preserve;
  --writing-mode: horizontal-tb;
  --text-align: initial;
  --text-align-last: initial;
  --text-anchor: initial;
  --text-combine-upright: initial;
  --text-indent: initial;
  --text-orientation: initial;
  --text-overflow: initial;
  --text-rendering: initial;
  --text-shadow: initial;
  --text-transform: none;

  color: var(--color);
  color-interpolation: var(--color-interpolation);
  color-interpolation-filters: var(--color-interpolation-filters);
  hyphenate-character: var(--hyphenate-character);
  hyphens: var(--hyphens);
  line-break: var(--line-break);
  quotes: var(--quotes);
  vertical-align: var(--vertical-align);
  white-space-collapse: var(--white-space-collapse);
  writing-mode: var(--writing-mode);
  text-align: var(--text-align);
  text-align-last: var(--text-align-last);
  text-anchor: var(--text-anchor);
  text-combine-upright: var(--text-combine-upright);
  text-indent: var(--text-indent);
  text-orientation: var(--text-orientation);
  text-overflow: var(--text-overflow);
  text-rendering: var(--text-rendering);
  text-shadow: var(--text-shadow);
  text-transform: var(--text-transform)
}