.desktop.text-emphasis {
  --d-text-emphasis-color: currentcolor;
  --d-text-emphasis-position: over right;
  --d-text-emphasis-style: none;

  text-emphasis-color: var(--d-text-emphasis-color);
  text-emphasis-position: var(--d-text-emphasis-position);
  text-emphasis-style: var(--d-text-emphasis-style)
}