.desktop.transform {
  --d-backface-visibility: visible;
  --d-perspective: none;
  --d-perspective-origin: 50% 50%;
  --d-rotate: none;
  --d-scale: 1;
  --d-transform: none;
  --d-transform-box: border-box;
  --d-transform-origin: 50% 50% 0;
  --d-transform-style: flat;
  --d-translate: none;

  backface-visibility: var(--d-backface-visibility);
  perspective: var(--d-perspective);
  perspective-origin: var(--d-perspective-origin);
  rotate: var(--d-rotate);
  scale: var(--d-scale);
  transform: var(--d-transform);
  transform-box: var(--d-transform-box);
  transform-origin: var(--d-transform-origin);
  transform-style: var(--d-transform-style);
  translate: var(--d-translate)
}