.desktop.transition {
  --d-transition-behavior: auto;
  --d-transition-property: all;
  --d-transition-duration: 0s;
  --d-transition-timing-function: ease;
  --d-transition-delay: 0s;
  --d-transition: all 0s ease 0s;

  transition-behavior: var(--d-transition-behavior);
  transition: var(--d-transition, var(--d-transition-duration) var(--d-transition-timing-function) var(--d-transition-delay))
}