.desktop.typography {
  --d-font-feature-settings: normal;
  --d-font-kerning: auto;
  --d-font-optical-sizing: auto;
  --d-font-palette: normal;
  --d-font-size-adjust: none;
  --d-font-variant-alternates: normal;
  --d-font-variation-settings: normal;
  --d-letter-spacing: normal;
  --d-line-height: normal;
  --d-tab-size: 8;

  font-feature-settings: var(--d-font-feature-settings);
  font-kerning: var(--d-font-kerning);
  font-optical-sizing: var(--d-font-optical-sizing);
  font-palette: var(--d-font-palette);
  font-size-adjust: var(--d-font-size-adjust);
  font-variant-alternates: var(--d-font-variant-alternates);
  font-variation-settings: var(--d-font-variation-settings);
  letter-spacing: var(--d-letter-spacing);
  line-height: var(--d-line-height);
  tab-size: var(--d-tab-size)
}