.desktop.visual-effect {
  --d-backdrop-filter: none;
  --d-filter: none;
  --d-isolation: auto;
  --d-mix-blend-mode: normal;
  --d-opacity: 1;

  backdrop-filter: var(--d-backdrop-filter);
  filter: var(--d-filter);
  isolation: var(--d-isolation);
  mix-blend-mode: var(--d-mix-blend-mode);
  opacity: var(--d-opacity)
}